
<div class="modal fade" id="nuevoFormulario" tabindex="-1" role="dialog" aria-labelledby="Formulario"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title">Nuevo formulario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                           <label for="">Nombre</label>
                           <input type="text" class="form-control" id="" placeholder="Especificar">
                        </div>
                         <div class="form-group col-md-4">
                            <label for="">Nombre</label>
                            <input type="text" class="form-control" id="" placeholder="Especificar">
                         </div>
                         <div class="form-group col-md-4">
                            <label for="">Nombre</label>
                            <input type="text" class="form-control" id="" placeholder="Especificar">
                         </div>
                         <div class="form-group col-md-4">
                            <label for="">Nombre</label>
                            <div class="input-group mb-3">
                                <select type="text" class="form-control selectpicker" data-live-search="true" data-live-search-normalize="true" id="">
                                    <option value="">Jose Manuel</option>
                                    <option value="">DAYGLOW</option>
                                    <option value="">Jackson Five</option>
                                </select>
                                <div class="input-group-append" style="margin-left:10px;display:block;">
                                  <button class="btn btn-sm icon-btn btn-altima text-white float-right"><span class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
                                </div>
                              </div>
                         </div>
                    </div>
                    <table class="table tablaGeneral table-striped table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Nombre</th>
                                <th>Pruebas</th>
                                <th>Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                               <td>NJI23E8IO23</td>
                               <td>Jose Manuel Blanco</td>
                               <td>Todas</td>
                               <td class="text-center">
                                   <button class="btn btn-danger btn-circle btn-sm popoverxd" data-placement="top" data-content="Eliminar"><i class="fas fa-times"></i></button>
                               </td>
                           </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer modal-rounded-footer">
                    <a class="btn btn-sm icon-btn btn-danger text-white mr-auto"><span class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
                    <button class="btn btn-sm icon-btn btn-altima text-white float-right"><span class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
                </div>
        </div>
    </div>
</div>