<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle">Entradas y Salidas | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
	<input type="hidden" name="_csrf" id="token" th:value="${_csrf.token}" />
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<div th:insert="navegacion-nav"></div>
		<!-- /.navbar -->
		<!-- Modal -->
		<div th:insert="navegacion-logout"></div>
		<!-- Main Sidebar Container -->
		<div th:insert="navegacion-aside"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Entradas y Salidas <a th:href="@{/movimientos-amp}"><button
										class="btn btn-danger btn-circle btn-sm popoverxd" data-container="body"
										data-placement="right" data-content="Regresar"><i
											class="fas fa-arrow-left"></i></button></a></h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item altima">Altima</li>
								<li class="breadcrumb-item active">Comercial</li>
								<li class="breadcrumb-item active">AMP</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-header bg-altima">
									<h3 class="card-title">Listado de entradas y salidas</h3>
								</div>
								<div class="card-body">
									<div class="row">

										<div class="form-group col-md-6">
											<label for="tipoMovimiento">Movimiento</label>
											<select class="form-control selectpicker"
												onchange="listarConceptos(this.value)" title="Selecciona uno..."
												data-live-search="true" data-live-search-normalize="true"
												id="tipoMovimiento">
												<option value="Entrada">Entrada</option>
												<option value="Salida">Salida</option>
											</select>
										</div>
										<div class="form-group col-md-6">
											<label for="conceptoMovimiento">Concepto</label>
											<select class="form-control selectpicker" title="Selecciona uno..."
												data-live-search="true" data-live-search-normalize="true"
												id="conceptoMovimiento">
											</select>
										</div>
										<div class="form-group col-md-4">
											<label for="almacenLogicoMovimiento">Almac&eacute;n l&oacute;gico</label>
											<select class="form-control selectpicker" title="Selecciona uno..."
												data-live-search="true" data-live-search-normalize="true"
												id="almacenLogicoMovimiento">
											</select>
										</div>
										<div class="form-group col-md-4">
											<label for="almacenFisicoMovimiento">Almac&eacute;n f&iacute;sico</label>
											<input type="text" disabled="disabled" class="form-control"
												id="almacenFisicoMovimiento">
										</div>
										<div class="form-group col-md-4">
											<label for="referenciaMovimiento">Referencia</label>
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<input type="checkbox">
													</div>
												</div>
												<select class="form-control selectpicker" title="Selecciona uno..."
													data-live-search="true" data-live-search-normalize="true"
													id="referenciaMovimiento">
													<option>1</option>
												</select>
											</div>
										</div>
										<div class="form-group col-md-5">
											<label for="cantidadMovimiento">Fecha</label>
											<input type="date" class="form-control" id="fechaMovimiento">
										</div>
										<div class="form-group col-md-7">
											<label for="cantidadMovimiento">Observaciones</label>
											<input type="text" class="form-control" id="observacionesMovimientos"
												placeholder="">
										</div>

										<div class="form-group col-md-3">
											<label for="cantidadMovimiento">Cantidad</label>
											<input type="number" class="form-control" id="cantidadMovimiento"
												placeholder="4">
										</div>
										<div class="form-group col-md-3">
											<label for="articuloMovimiento" style="margin-left:2px">Articulo</label>
												<select class="form-control selectpicker" title="Selecciona uno..."
													data-live-search="true" data-live-search-normalize="true"
													id="articuloMovimiento">
												</select>											
										</div>
										<div class="form-group col-md-3">
											<label for="articuloMovimiento" style="margin-left:2px">Rollo</label>
												<select class="form-control selectpicker" title="Selecciona uno..."
													data-live-search="true" data-live-search-normalize="true"
													id="rollo" disabled>
												</select>											
										</div>
										<div class="form-group col-md-3">
											<label for="lote" style="margin-left:2px">Lote</label>
											<div class="input-group mb-3">
												<input type="text" class="form-control" id="lote" disabled
												placeholder="LOT892SD">
												<div class="input-group-append" style="margin-left: 10px;">
													<button class="btn icon-btn btn-altima text-white" type="button"
														id="agregarArticulo"><span
															class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Agregar</button>
												</div>
											</div>
										</div>
										<div class="form-group col-md-12">
											<table class="table tablaAgregarMovimientosAMP table-striped table-bordered"
												style="width:100%" id="example">
												<thead>
													<tr>
														<th>Cantidad</th>
														<th>Clave art&iacute;culo</th>
														<th>Descripci&oacute;n</th>
														<th>Rollo</th>
														<th>UOM</th>
														<th>Lote</th>
														<th>Acciones</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
											<div th:insert="agregar-movimientos-amp-modal"></div>
										</div>
										<div class="form-group col-md-12">
											<button type="button" id="guardarMovimientos"
												class="btn icon-btn btn-altima text-white float-right"><span
													class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
											<hr style="border:1px solid #e9ecef">
										</div>
									</div>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
				<!-- Main row -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:insert="navegacion-footer"></div>
	</div>
	<div th:replace="navegacion-scripts"></div>
	<script src="dist/js/tablaAgregarMovimientosAMP.js"></script>
	<script src="dist/js/movimientosAMP.js"></script>
	<script>
		$('#iComercial').removeClass('text-altima');
		$('#navComercial').addClass('active-altima');
		$('#menuComercial').addClass('menu-open');
		$('#menuAMP').addClass('menu-open');
		$('#navAMP').addClass('active');
		$('#navAMPEntSal').addClass('active');
	</script>
</body>

</html>