<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle">Carga de pedidos | Altima</title>
</head>
<div th:insert="modal-empleado-editarnombre"></div>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">

	<div id="loading"></div>

	<input type="hidden" name="_csrf" id="token" th:value="${_csrf.token}" />
	<!-- Site wrapper -->
	<div id="page" class="wrapper">
		<!-- Navbar -->
		<div th:insert="navegacion-nav"></div>
		<!-- /.navbar -->
		<!-- Modal -->
		<div th:insert="navegacion-logout"></div>
		<!-- Main Sidebar Container -->
		<div th:insert="navegacion-aside"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>
								Empleados de clientes&nbsp;<a th:href="@{/carga-de-pedidos}" class="btn btn-sm icon-btn btn-danger text-white"><span
										class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Regresar</a>&nbsp;
								<a data-toggle="modal" data-target="#addEmpleados" class="btn btn-sm icon-btn btn-altima text-white"><span
									class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Agregar empleados</a>
							</h1>
						</div>
						<div th:insert="modal-empleados-create"></div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a th:href="@{'/'}">Dashboard</a></li>
								<li class="breadcrumb-item active">Agentes de Venta</li>
								<li class="breadcrumb-item active">Carga de Pedidos</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-header bg-altima">
									<h3 class="card-title">
										&nbsp;
										<button class="btn btn-sm icon-btn btn-danger text-white mr-auto" data-toggle="modal" data-target="#eliminarEmpleados" type="button"><span class="btn-glyphicon fas fa-times fa-lg img-circle text-danger"></span>Eliminar</button>
										&nbsp;
										<button onclick="seleccionados()" class="btn btn-sm icon-btn btn-warning mr-auto" data-toggle="modal" data-target="#editarEmpleados" type="button"><span class="btn-glyphicon fas fa-pen img-circle text-dark"></span>Cambiar</button>
									</h3>
								</div>
								<div th:insert="modal-empleados"></div>
								<div th:insert="modal-empleados-eliminar"></div>
								<div class="card-body">
									<form class="row" th:action="@{'/eliminar/'+${idPedido}+'/'+${idcliente}}"
										id="formEmpleadoEliminar" method="post" enctype="multipart/form-data">
										<div class="form-group col-md-12">
											<table id="tablaEE" class="table table-striped table-bordered"
												style="width: 100%;">
												<thead>
													<tr>
														<th class="text-center"><input type="checkbox" id="checkBoxAll"
																th:value="0"
																th:disabled="${isPreviewView}" />&nbsp;Seleccionar todo
														</th>
														<th>Folio</th>
														<th>Nombre del empleado</th>
														<th>Sucursal</th>
														<th>Raz&oacute;n social</th>
														<th>Editar</th>
														<th>Eliminar</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="data, iterstat: ${empleadosEmpresa}">

														<td class="text-center"><input type="checkbox"
																th:disabled="${isPreviewView}" class="chkCheckBoxId"
																th:value="${data.idEmpleado}"
																name="getdeletenombre_empleado" /></td>

														<td th:text="${data.idText}"></td>
														<td th:text="${data.nombre_empleado}"></td>
														<td class="text-center"><select disabled
																class="form-control selectpicker"
																data-live-search="true" id="coorSucursal"
																name="coorSucursal" onchange="update(this.value)">
																<option
																	th:each="getlistSucursal, iterstat: ${getlistSucursal}"
																	th:value="${getlistSucursal.IdClienteSucursal}"
																	th:text="${getlistSucursal.NombreSucursal}"
																	th:selected="${data.idClienteSucursal == getlistSucursal.IdClienteSucursal}">
																</option>
															</select></td>
														<td class="text-center"><select disabled
																class="form-control selectpicker"
																data-live-search="true" id="coorPrenda">
																<option
																	th:each="getlistfactura, iterstat: ${getlistfactura}"
																	th:value="${getlistfactura.idClienteFacturaF}"
																	th:text="${getlistfactura.razon_socialF}"
																	th:selected="${data.idClienteFactura == getlistfactura.idClienteFacturaF}">
																</option>
															</select></td>
														<td style="width: 5%" class="text-center">
															<button th:id="'miboton' + ${data.idEmpleado}"
																class="btn btn-primary" th:disabled="${isPreviewView}"
																th:value="${data.nombre_empleado}"
																th:onclick="'javascript:editarempleado(\'' +  ${data.idEmpleado} + '\');'"
																data-toggle="modal" type="submit" form="form1"
																data-target="#editarnombreempleado">Editar</button>
														</td>
														<td style="width: 5%" class="text-center">
															<button class="btn btn-danger" th:value="${data.idEmpleado}"
																name="getdeletenombre_empleado"
																th:disabled="${isPreviewView}"
																onClick="elimiarEmpleado()">Eliminar</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</form>
									<form th:if="${form}==true" action="#" th:action="@{'/cargarregistroempleado/'+${idPedido}+'/'+${idcliente}}"  method="post">
								
											<div class="form-group col-sm-12">
											<a th:href="@{'/carga-de-pedidos'}" class="btn btn-sm icon-btn btn-danger text-white mr-auto"><span class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
											<button id="submitButton" type="submit" class="btn btn-sm icon-btn btn-altima text-white float-right"><span class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
											<!-- <input type="submit" class="btn btn-primary next-step float-right"  value="Guardarprueba2">-->
										</div>
											<table>
												<tbody>
													<tr th:each="empleado, itemStat : *{empleadosEmpresa}">
														<td><input type="hidden" name="idText[]" th:value="${empleado.idText}"></td>
														<td><input type="hidden" name="nombreEmpleado[]" th:value="${empleado.nombre_empleado}"></td>
														<td><input type="hidden" name="idClienteFactura[]" th:value="${empleado.idClienteFactura}"></td>
														<td><input type="hidden" name="idClienteSucursal[]" th:value="${empleado.idClienteSucursal}"></td>
														<td><input type="hidden" name="creadoPor[]" th:value="${empleado.creadoPor}"></td>
														<td><input type="hidden" name="actualizadoPor[]" th:value="${empleado.actualizadoPor}"></td>
														<td><input type="hidden" name="idPedidoInformacion[]" th:value="${empleado.idPedidoInformacion}"></td>
													</tr>
												</tbody>
											</table>
									
									</form>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:insert="navegacion-footer"></div>
	</div>
	<!-- ./wrapper -->
	<div th:replace="navegacion-scripts"></div>
	<script src="/dist/js/tablaEmpleadoEmpresa.js"></script>
	<!--  --<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
	<script>
		$('#iComercial').removeClass('text-altima');
		$('#menuComercial').addClass('menu-open');
		$('#navComercial').addClass('active-altima');
		$('#menuVenta').addClass('menu-open');
		$('#navVenta').addClass('active');
		$('#navVenta4').addClass('active');
		$('#menuCarga').addClass('menu-open');
		$('#navsubVenta2').addClass('active');
	</script>

</body>

</html>