<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle">Apartado de telas | Altima</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Apartado de telas</h1>
                        </div>
                        <div th:insert="modal-apartado-telas"></div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a th:href="@{'/'}">Dashboard</a></li>
                                <li class="breadcrumb-item active">Agentes de Venta</li>
                                <li class="breadcrumb-item active">Apartado de telas</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-dark">
                                    <h3 class="card-title">Lista de apartado de telas</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table tablaGeneral table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Pedido</th>
                                                <th>Empresa</th>
                                                <th>Fecha de entrega</th>
                                                <th>Solicitante</th>
                                                <th>Fecha solicitud</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="pedido: ${ListPedidos}">
                                                <td th:text="${pedido[1]}">PED10008</td>
                                                <td th:text="${pedido[2]}">Altima</td>
                                                <td th:text="${pedido[6]}">17/10/2020</td>
                                                <td th:text="${pedido[3]}">Uriel Cuatepitzi</td>
                                                <td th:text="${pedido[9]}">16/10/2020</td>
                                                <td class="tdcenter">
                                                	<a class="btn btn-info btn-circle btn-sm text-white popoverxd" th:onclick="'detalleReporte('+${pedido[0]}+')'" data-container="body" data-toggle="popover" data-placement="top" data-content="Ver detalles"><i class="fas fa-info"></i></a>&nbsp;
                                                    <a class="btn btn-warning btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" data-placement="top" data-content="Imprimir"><i class="fas fa-pen"></i></a>
                                                </td>
                                           </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:insert="navegacion-footer"></div>
    </div>
    <!-- ./wrapper -->

    <div th:replace="navegacion-scripts"></div>
    <script src="dist/js/tablaGeneral.js"></script>
	
   	<script>
		$('#iComercial').removeClass('text-primary');
		$('#menuComercial').addClass('menu-open');
		$('#navComercial').addClass('active');
		$('#menuVenta').addClass('menu-open');
		$('#navVenta').addClass('active');
		$('#navVentaApartado').addClass('active');
	</script>
	
	<script type="text/javascript">
		function detalleReporte(id){
			window.open("/detalle-reporte/"+id+"?format=pdf", '_blank');
		}
	</script>
</body>

</html>