<!-- Modal -->
<div class="modal fade" id="asignacionticketsmodal" tabindex="-1"
	role="dialog" aria-labelledby="materiaPrimaAlmacen" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content modal-rounded-body">
			<div class="modal-header bg-altima modal-rounded-header">
				<h5 class="modal-title">Asignacion de tickets</h5>
				<!-- <button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button> -->
			</div>
		<!-- 	<form th:action="@{/guardar-control-pedidos}" th:method="POST"> -->
				<div class="modal-body">

					<div class="form-group">
						<label for="exampleFormControlSelect1">Operario</label> <select name="selec"
							class="form-control" id="selectoperario">
							

						</select> 
						
						
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button data-dismiss="modal"
						class="btn icon-btn btn-danger text-white mr-auto" type="button">
						<span
							class="btn-glyphicon fas fa-times fa-lg img-circle text-danger"></span>Cancelar
					</button> -->
					
					<button class="btn icon-btn btn-altima text-white" 
						id="GuardarBuscar">
						<span class="btn-glyphicon fas fa-check img-circle text-altima align-middle"></span>Agregar
					</button>
				</div>
		<!-- 	</form> -->
		</div>
	</div>
</div>
<!-- Modal -->
