<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle">Asignaci&oacute;n de operaciones | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Asignaci&oacute;n de operaciones <a th:href="@{'/prendas'}" class="btn btn-danger btn-circle btn-sm popoverxd" data-container="body" data-placement="top" data-content="Regresar"><i class="fas fa-arrow-left"></i></a></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Diseño</li>
                                <li class="breadcrumb-item active">Asignaci&oacute;n de operaciones</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                <div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-header bg-altima">
									<h3 class="card-title">Operaciones por prenda</h3>
								</div>
								<div class="card-body">
									<form class="row">
								
									  <div class="form-group col-md-6">
										<label for="prendaAsignacion">Familia</label>
										<input type="hidden" th:value="${idPrenda}" id="idPrenda">
									    <select class="form-control selectpicker" onchange="listarOperaciones(this.value)" title="Selecciona uno..." data-live-search="true" data-live-search-normalize="true" id="prendaAsignacion">
											
											<option th:each="selectFamilia: ${selectFamilia}" th:value="${selectFamilia.idLookup}" th:text="${selectFamilia.nombreLookup}"></option>
									    </select>
									  </div>
									
									  <div class="form-group col-md-6">
									    <label for="operacionAsignacion">Operaci&oacute;n</label>
									    <select class="form-control selectpicker" title="Selecciona uno..." data-live-search="true" data-live-search-normalize="true" id="operacionAsignacion">
									      
									    </select>
									  </div>
									  <div class="form-group col-md-12">
									  	<button type="button" onclick="agregarOperacion()" class="btn icon-btn btn-altima text-white float-right" ><span class="btn-glyphicon spancircle fas fa-plus img-circle text-altima"></span>Agregar</button>
									  </div>
									 </form>
									<table class="table tablaAgregarAsignacion table-striped table-bordered" style="width:100%">
										<thead>
											<tr>
												<th>No. operaci&oacute;n</th>
												<th>Familia</th>
												<th>Descripci&oacute;n de operaciones</th>
												<th>SAM</th>
												<th>Piezas</th>
												<th>Turno</th>
												<th>Eliminar</th>
											</tr>
										</thead>
										<tbody>
											<tr  th:each="view: ${view}">
												<td th:text=${#numbers.formatInteger(view[1],0)} >1</td>
												<td th:text="${view[2]}">Coser etiqueta a tabulejo</td>
												<td th:text="${view[3]}">0.68</td>
												<td th:text="${view[4]}">88</td>
												<td th:text="${view[5]}">794</td>
												<td th:text="${view[6]}">794</td>
												<td class="text-center">
													<button th:onclick="|eliminar('${view[0]}')|"  class="btn icon-btn btn-danger text-white mr-auto" type="submit"><span class="btn-glyphicon spancircle fas fa-times fa-lg img-circle text-danger"></span>Eliminar</button>
												</td>
											</tr>
											
										
										</tbody>
									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div>
                </div>
                <!-- Main row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:insert="navegacion-footer"></div>
    </div>
	<div th:replace="navegacion-scripts"></div>
	<script th:src="@{/dist/js/tablaAgregarAsignacionOperaciones.js}"></script>
	<script th:src="@{/dist/js/asignar-operacion.js}"></script>

	
	<script>
		$('#iDiseno').removeClass('text-altima');
        $('#navDiseno').addClass('active-altima');
        $('#menuDiseno').addClass('menu-open');
        $('#navDiseno3').addClass('active');
	</script>
</body>

</html>
