<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Personalizados | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Personalizado
                                <a th:if="${(#authorization.expression('hasRole(''ROLE_COMERCIAL_AGENTES_PERSONALIZADOS_AGREGAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" th:href="@{/agregar-bordado}" class="btn btn-sm icon-btn btn-altima text-white"><span class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Nuevo personalizado</a>
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Comercial</li>
                                <li class="breadcrumb-item active">Agentes de venta</li>
                                <li class="breadcrumb-item active">Personalizado</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de personalizados</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table tablaGeneral table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Descripci&oacute;n</th>
                                                <th>Tama&ntilde;o</th>
                                                <th>Precio</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="mt:${listBordado}">
                                                <td th:text="${mt[0]}"></td>
                                                <td th:text="${mt[1]}"></td>
                                                <td th:text="${mt[2]}"></td>
                                                <td th:text="${mt[6]}"></td>
                                                <td th:text="${mt[4]}==0?'En espera':'Aceptado'"></td>
                                                <td class="text-center">
                                                    <a th:if="${(#authorization.expression('hasRole(''ROLE_COMERCIAL_AGENTES_PERSONALIZADOS_LISTAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" class="btn btn-info text-white btn-circle btn-sm popoverxd" data-toggle="popover" data-content="Ver detalles"
                                                        ><i class="fas fa-info"></i></a>
                                                    <a th:if="${(#authorization.expression('hasRole(''ROLE_COMERCIAL_AGENTES_PERSONALIZADOS_EDITAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" th:href="@{/bordados/}+${mt[5]}" class="btn btn-warning btn-circle btn-sm popoverxd"
                                                        data-toggle="popover" data-content="Editar" ><i class="fas fa-pen"></i></a>

                                                    <a th:if="${(#authorization.expression('hasRole(''ROLE_COMERCIAL_AGENTES_PERSONALIZADOS_ELIMINAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" th:href="@{/eliminar_bordado/}+${mt[5]}" class="btn btn-danger btn-circle btn-sm popoverxd"
                                                        data-toggle="popover" data-content="Eliminar" ><i class="fas fa-times"></i></a>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:insert="navegacion-footer"></div>
    </div>
    <!-- ./wrapper -->
    <div th:replace="navegacion-scripts"></div>



    <script src="/dist/js/tablaGeneral.js"></script>
    <script>
        $('#iComercial').removeClass('text-altima');
        $('#menuComercial').addClass('menu-open');
        $('#navComercial').addClass('active-altima');
        $('#menuVenta').addClass('menu-open');
        $('#navVenta').addClass('active');
        $('#navVenFlu').addClass('active');
    </script>

    <script th:if="${icon != null}" th:inline="javascript">
        Swal.fire({

            position: 'center',
            icon: /*[[${icon}]]*/ 'default',
            title: /*[[${title}]]*/ 'default',
            showConfirmButton: false,
            timer: 2500
        });
    </script>

    <script>
        function rechazarBordado() {
            Swal.fire({
                title: 'Deseas rechazar el personalizado?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#0288d1',
                cancelButtonColor: '#dc3545',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {



                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Personalizado rechazado correctamente',
                        showConfirmButton: false,
                        timer: 2500
                    })
                }
            })
        }
    </script>



</body>

</html>