<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Cambio de fecha de pedido | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper" id="app">
        <input type="hidden" name="_csrf" id="token" th:value="${_csrf.token}" />
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Cambio de fecha de pedido&nbsp;
                                <button v-on="selectAgente==0 ? { click: getAgentes } : { click: getPedidos}" data-toggle="modal" data-target="#cambioFecha"
                                    class="btn btn-sm icon-btn btn-altima text-white"><span
                                        class="btn-glyphicon spancircle fas fa-plus img-circle text-altima"></span>Nuevo
                                    cambio</button>
                            </h1>
                        </div>
                        <div th:insert="cambio-fecha-pedido-modal"></div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Cambio de fecha de pedido</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de solicitudes</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table tablaGeneral table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Folio</th>
                                                <th sec:authorize="hasAnyRole('ROLE_COMERCIAL_SOLICITUD_CAMBIO_FECHA_GERENCIA','ROLE_ADMINISTRADOR')">Solicitante</th>
                                                <th>Fecha de solicitud</th>
                                                <th>Fecha cierre</th>
                                                <th>Cliente</th>
                                                <th>Pedido</th>
                                                <th>Fecha entrega de pedido</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each=" solicitud: ${solicitudes}">
                                                <td th:text="${solicitud.idText}">CAMFE0001</td>
                                                <td sec:authorize="hasAnyRole('ROLE_COMERCIAL_SOLICITUD_CAMBIO_FECHA_GERENCIA','ROLE_ADMINISTRADOR')" th:text="${solicitud.agente}">Agente 1</td>
                                                <td th:text="${solicitud.fechaCreacion}">14/08/2020 09:00 a.m.</td>
                                                <td th:text="${solicitud.fechaCierre}"></td>
                                                <td th:text="${solicitud.cliente}">DTI Consultores</td>
                                                <td th:text="${solicitud.folioPedido}">PED100045</td>
                                                <td th:text="${solicitud.fechaNueva}">17/10/2020</td>
                                                <td th:text="${solicitud.estatus}">En espera</td>
                                                <td class="text-center">
                                                    <button
                                                        sec:authorize="hasAnyRole('ROLE_COMERCIAL_SOLICITUD_CAMBIO_FECHA_EDITAR','ROLE_ADMINISTRADOR')"
                                                        th:@click="|getSolicitud('${solicitud.idSolicitudCambioFecha}','${solicitud.idText}','${solicitud.cliente}')|"
                                                        data-toggle="modal" data-target="#cambioFecha"
                                                        class="btn btn-warning btn-sm btn-circle popoverxd"
                                                        data-placement="top" data-content="Cambiar fecha"><i
                                                            class="fas fa-calendar"></i></button>
                                                    <button
                                                        sec:authorize="hasAnyRole('ROLE_COMERCIAL_SOLICITUD_CAMBIO_FECHA_ACEPTAR','ROLE_ADMINISTRADOR')"
                                                        th:disabled="${solicitud.estatus}=='En espera'?false:true"
                                                        th:@click="|rechazarSolicitud('${solicitud.idSolicitudCambioFecha}')|"
                                                        class="btn btn-danger btn-sm btn-circle popoverxd"
                                                        data-placement="top" data-content="Rechazar"><i
                                                            class="fas fa-times"></i></button>
                                                    <button
                                                        sec:authorize="hasAnyRole('ROLE_COMERCIAL_SOLICITUD_CAMBIO_FECHA_RECHAZAR','ROLE_ADMINISTRADOR')"
                                                        th:disabled="${solicitud.estatus}=='En espera'?false:true"
                                                        th:@click="|aceptarSolicitud('${solicitud.idSolicitudCambioFecha}')|"
                                                        class="btn btn-success btn-sm btn-circle popoverxd"
                                                        data-placement="top" data-content="Aceptar"><i
                                                            class="fas fa-check"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-footer-->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:insert="navegacion-footer"></div>
    </div>
    <div th:replace="navegacion-scripts"></div>
    <script src="/plugins/vue/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/dist/js/tablaGeneral.js"></script>
    <script src="/dist/js/solicitudCambioFecha.js"></script>
    <script>
        $('#iCal').removeClass('text-altima');
        $('#navCal').addClass('active-altima');
    </script>
</body>

</html>