<div class="modal fade" id="cambio-modelo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Nueva carga de pedido</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
			</div>
			<div class="modal-body col-md">
				<form class="row" >
					
					<div class="form-group col-md-6">
						<label for="cargaEmpresa">SPF</label>
						 <select class="form-control selectpicker" data-live-search="true" data-live-search-normalize="true"
                title="Selecciona uno..." id="idEmpleado" name="idEmpleado" onchange="listarCoordinados(this.value)" >
							<option th:each="empleado: ${empleado}"
				th:value="${empleado[0]}" th:text="${empleado[1]}" ></option>
						</select>
					</div>
					
					
					<div class="form-group col-md-6" >
						<label for="cargaEmpresa">Coordinado</label>
						<select class="form-control selectpicker" data-live-search="true" data-live-search-normalize="true"
                title="Selecciona uno..." id="Coordinado" name="Coordinado" onchange="listarModelo(this.value)"  >
						
						</select>
					</div>
					<div class="form-group col-md-6" >
						<label for="cargaEmpresa">Modelo</label>
						<select class="form-control selectpicker" data-live-search="true" data-live-search-normalize="true"
                title="Selecciona uno..." id="modelo-consentrado" name="modelo-consentrado"  onchange="listarCambio(this.value)" >
						
						</select>
					</div>
					
					<div class="form-group col-md-6" >
						<label for="cargaEmpresa">Cambio</label>
						<select class="form-control selectpicker" data-live-search="true" data-live-search-normalize="true"
                title="Selecciona uno..." id="cambio" name="cambio"  >
							
						</select>
					</div>
					
					<input type="hidden" th:value="*{idPrincipal}" id ="idPrincipal" name ="idPrincipal">
					<input type="hidden" name="_csrf" id="token" th:value="${_csrf.token}" />
					<div class="form-group col-sm-12"> <a th:href="@{/coordinados}" class="btn btn-danger ">Cancelar</a>
						<input type="button" class="btn btn-primary next-step float-right" value="Guardar" onclick='agregar()'> </div>
						<input type="hidden" th:name="${_csrf.parameterName}" id="token" th:value="${_csrf.token}"/>
				</form>
			</div>
		</div>
	</div>
</div>

