<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Cat&aacute;logos | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Cat&aacute;logos</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Compras</li>
                                <li class="breadcrumb-item active">Cat&aacute;logos</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div th:insert="catalogos-compras-clasificacion" class="col-lg-4 col-6"></div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- Main row -->
            </section>
            <!-- /.content -->
        </div>
        <div th:insert="navegacion-footer"></div>
        <input type="hidden" id="rolAdmin" th:value="${#authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')')}? 1:0">
        <input type="hidden" id="rolListar" th:value="${#authorization.expression('hasRole(''COMPRAS-CATALOGOS-LISTAR'')')}? 1:0">
        <input type="hidden" id="rolAgregar" th:value="${#authorization.expression('hasRole(''COMPRAS-CATALOGOS-AGREGAR'')')}? 1:0">
        <input type="hidden" id="rolEditar" th:value="${#authorization.expression('hasRole(''COMPRAS-CATALOGOS-EDITAR'')')}? 1:0">
        <input type="hidden" id="rolEliminar" th:value="${#authorization.expression('hasRole(''COMPRAS-CATALOGOS-ELIMINAR'')')}? 1:0">
    </div>

    <!-- ./wrapper -->
    <div th:replace="navegacion-scripts"></div>
    <script src="/dist/js/ComprasCRUD.js"></script>
    <script>
        $('#iCompras').removeClass('text-altima');
        $('#menuCompras').addClass('menu-open');
        $('#navCompras').addClass('active-altima');
        $('#navComCat').addClass('active');


        var rolAdmin = $('#rolAdmin').val();
        var rolListar = $('#rolListar').val();
        var rolAgregar = $('#rolAgregar').val();
        var rolEditar = $('#rolEditar').val();
        var rolEliminar = $('#rolEliminar').val();
    </script>
</body>

</html>