<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle">Catal&oacute;gos | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Cat&aacute;logos</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Taller de maquila</li>
                                <li class="breadcrumb-item active">Cat&oacute;logos</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div th:insert="catalogo-maquila-famila-operaciones" class="col-lg-6 col-6"></div>
                        <div th:insert="catalogo-maquila-operaciones-maquila" class="col-lg-6 col-6"></div>
                        <div th:insert="catalogo-maquila-maquina" class="col-lg-4 col-4"></div>
                        <div th:insert="catalogo-maquila-componentes" class="col-lg-4 col-4"></div>
                        <div th:insert="catalogo-maquila-activo-fijo" class="col-lg-4 col-4"></div>
                        <div th:insert="catalogo-maquila-color" class="col-lg-6 col-6"></div>
                        <div th:insert="catalogo-maquila-mov-fijo" class="col-lg-6 col-6"></div>
                        <div th:insert="catalogo-maquila-mov-insumo" class="col-lg-12 col-12"></div>    
                    </div>
                    <!-- /.row -->
                </div>
                <!-- Main row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:insert="navegacion-footer"></div>
    </div>
    <div th:replace="navegacion-scripts"></div>
    <!-- Funcionalidad-->
    <script src="dist/js/tablaCatalogosMaquila.js"></script>
    <script src="dist/js/maquilaCRUD.js"></script>
	<script>
		$('#iMaquila').removeClass('text-altima');
		$('#navMaquila').addClass('active-altima');
		$('#menuMaquila').addClass('menu-open');
		$('#navMaqCat').addClass('active');
	</script>
</body>

</html>
