<form>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="limiteCreditoHistorico">L&iacute;mite de cr&eacute;dito</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="limiteCreditoHistorico">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="comprasAnuales">Compras anuales</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="comprasAnuales">
            </div>
        </div>
    </div>
    <hr>
    <h5>&Uacute;ltimo pago</h5>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="ultimoPagoFecha">Fecha</label>
            <input type="date" class="form-control" id="ultimoPagoFecha">
        </div>
        <div class="form-group col-md-4">
            <label for="ultimoPagoDocto">Documento</label>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ultimoPagoDocto">
                    <label class="custom-file-label" for="ultimoPagoDocto">Selecciona un archivo</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="ultimoPagoMonto">Monto</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="ultimoPagoMonto">
            </div>
        </div>
    </div>
    <hr>
    <h5>&Uacute;ltimo compra</h5>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="ultimoCompraFecha">Fecha</label>
            <input type="date" class="form-control" id="ultimoCompraFecha">
        </div>
        <div class="form-group col-md-4">
            <label for="ultimoCompraDocto">Documento</label>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ultimoCompraDocto">
                    <label class="custom-file-label" for="ultimoCompraDocto">Selecciona un archivo</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="ultimoCompraMonto">Monto</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" id="ultimoCompraMonto">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <a th:href="@{'/compras-proveedores'}" class="btn icon-btn btn-danger text-white mr-auto" type="submit"><span class="btn-glyphicon spancircle fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
            <button class="btn icon-btn btn-altima text-white float-right" type="submit"><span class="btn-glyphicon spancircle fas fa-save img-circle text-altima"></span>Guardar</button>
        </div>
    </div>
</form>