<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Proveedores | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Proveedores&nbsp;<a th:if="${(#authorization.expression('hasRole(''ROLE_COMPRAS-PROVEEDOR_AGREGAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" th:href="@{/compras-agregar-proveedores}"><button class="btn btn-altima btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" data-placement="right" data-content="Agregar"><i class="fas fa-plus"></i></button></a></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Compras</li>
                                <li class="breadcrumb-item active">Proveedores</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de proveedores</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table requisicionTabla table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>No. Proveedor</th>
                                                <th>Proveedor</th>
                                                <th>Teléfono</th>
                                                <th>Tipo</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="proveedor:${proveedores}">
                                                <td th:text="${proveedor.idText}"></td>
                                                <td th:text="${proveedor.nombreProveedor}"></td>
                                                <td th:text="${proveedor.telefonoProveedor}"></td>
                                                <td th:text="${proveedor.tipo}"></td>
                                                <td th:text="${proveedor.estatus=='1'}?'Activo':'Inactivo'"></td>
                                                <td class="tdcenter">
                                                    <a th:if="${(#authorization.expression('hasRole(''ROLE_COMPRAS_PROVEEDOR_EDITAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" class="btn btn-warning btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" 
                                                        data-content="Editar" th:href="@{/editar_datos_generales/}+${proveedor.idProveedor}"><i class="fas fa-pen"></i></a>


                                                    <a th:if="${(#authorization.expression('hasRole(''ROLE_COMPRAS_PROVEEDOR_ELIMINAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')') and {proveedor.estatus == '1'})}" class="btn btn-danger text-white btn-circle btn-sm btn-delete popoverxd"
                                                        data-container="body" data-toggle="popover"  data-content="Dar de baja" th:onclick="'bajaProveedor('+${proveedor.idProveedor}+')'">
                                                        <i class="fas fa-caret-down"></i> </a>

                                                    <a th:if="${(#authorization.expression('hasRole(''ROLE_COMPRAS_PROVEEDOR_ELIMINAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')') and {proveedor.estatus == '0'})}" class="btn btn-success text-white btn-circle btn-sm btn-alta popoverxd"
                                                        data-container="body" data-toggle="popover"  data-content="Dar de alta" th:onclick="'altaProveedor('+${proveedor.idProveedor}+')'">
                                                        <i class="fas fa-sort-up"></i> </a>

                                                    <a th:if="${(#authorization.expression('hasRole(''ROLE_COMPRAS_PROVEEDOR_CONTACTOS'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" class="btn btn-primary text-white btn-circle btn-sm btn-alta popoverxd" data-container="body" data-toggle="popover"
                                                         data-content="Contactos" th:onclick="'listaContactosProveedor('+${proveedor.idProveedor}+')'">
                                                        <i class="fas fa-address-book"></i> </a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:insert="navegacion-footer"></div>
    </div>
    <!-- ./wrapper -->
    <div th:replace="navegacion-scripts"></div>
    <script src="/dist/js/ComprasProveedores.js"></script>
    <script src="/dist/js/tablaRequisicionTelas.js"></script>
    <script>
        $('#iCompras').removeClass('text-altima');
        $('#menuCompras').addClass('menu-open');
        $('#navCompras').addClass('active-altima');
        $('#navComPro').addClass('active');
    </script>
</body>

</html>



<div class="modal fade" id="modal-contactos-proveedores" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-primary modal-rounded-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Lista de contactos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <table class="table tablaGeneral table-striped table-bordered" id="tablaContactosProveedor" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Nombre de contacto</th>
                            <th>Cargo</th>
                            <th>Correo</th>
                            <th>Tel&eacute;fono</th>
                            <th>Lada</th>
                            <th>Extensi&oacute;n</th>
                            <th>Whatsapp</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>