<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle"> Consumo por talla | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<div th:insert="navegacion-nav"></div>
		<!-- /.navbar -->
		<!-- Modal -->
		<div th:insert="navegacion-logout"></div>
		<!-- Main Sidebar Container -->
		<div th:insert="navegacion-aside"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Prendas&nbsp;
								<a th:href="${'/prendas'}">
									<button class="bt btn-danger btn-circle btn-sm popoverxd" data-container="body"
										data-toggle="popover" data-placement="right" data-content="Regresar">
										<i class="fas fa-arrow-left"></i>
									</button>
								</a>
							</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item altima">Altima</li>
								<li class="breadcrumb-item active">Dise&ntilde;o</li>
								<li class="breadcrumb-item active">Prendas</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-header bg-altima">
									<h5 class="card-title">Consumo por talla</h5>
								</div>
								<div class="card-body">
									<div class="tab-pane" role="tabpanel" id="consumo">
										<div class="row">
											<div class="form-group col-sm-12">
												<label>Material</label>
												<div class="input-group mb-3">
													<select class="form-control selectpicker"
														onchange="materiales(this)" data-live-search="true"
														data-live-search-normalize="true" title="Selecciona uno..."
														id="tipo" name="tipo">
														<option th:each="Item : ${materiales}" th:value="${Item[2]}"
															th:text="${Item[1]}" th:id="${Item[0]}"
															th:selected="${id_tela_combinacion}==${Item[0]}" />


													</select>
													<div style="margin-left:8px">
														<a id="boton-agregar" name="boton-agregar"
															th:onclick="'tallas(' + ${action} + ');'"
															class="btn icon-btn btn-altima text-white float-right"
															type="submit">
															<span
																class="btn-glyphicon spancircle fas fa-plus img-circle text-altima"></span>Agregar
														</a>
													</div>
												</div>
											</div>
											<!--  -->
											<form th:action="@{/guardar-talla-especial-tela}" method="POST"
												th:if="${tipo == 'Tela' or tipo == 'tela-combinacion' }">
												<div class="form-group col-sm-12">
													<label>Talla Especial (metros)</label>
													<div class="input-group mb-3">
														<input type="hidden" th:value="${id_prenda}"
															th:name="id_prenda">
														<input type="hidden" th:value="${tipo}" th:name="tipo">
														<input type="hidden" th:value="${id_tela_combinacion}"
															th:name="id_tela_combinacion">
														<input type="number" min="0" step=".1" class="form-control"
															th:name="consumo" th:value="${consumo}">
														<input type="hidden" name="_csrf" id="token"
															th:value="${_csrf.token}" />

														<div style="margin-left:8px">
															<button id="boton-agregar" name="boton-agregar"
																class="btn icon-btn btn-altima text-white float-right"
																type="submit">
																<span
																	class="btn-glyphicon spancircle fas fa-plus img-circle text-altima"></span>Guardar
															</button>
														</div>

													</div>
												</div>
											</form>
											<!--  -->
											<div th:if="${listConsumo}!=null" class="col-md-12" id="contenedor-tela">
												<table class="table tablaConsumoPorPrendas table-striped table-bordered"
													id="table-tela" name="table-tela">
													<thead>
														<tr>
															<th rowspan='2' style="width:5%">Talla</th>
															<th th:colspan="${headTam}" class="text-center"
																style="width:70%">Largos</th>
															<!-- <th colspan="2" class="text-center" style="width:20%">Aumento de telas</th> -->

															<th rowspan='2' style="width:5%">Acciones</th>
														</tr>

														<tr>
															<th th:each="head, headit: ${head}" th:text="${head}"></th>
															<!-- 
													<th class="text-center" style="width:10%;">Estampada rayada</th>
													<th class="text-center" style="width:10%;">Estampada cuadros</th>
													-->
														</tr>

													</thead>
													<tbody>
														<tr th:each="listConsumo, listConsumo_iterator: ${listConsumo}">

															<td th:each="listConsumo2, listConsumo_iterator2: ${listConsumo}"
																th:text="${listConsumo2}?: 'N/A'"></td>
															<!--  
														<td>1.85</td>
														<td>1.85</td>
													-->
															<td class="tdcenter">
																<button
																	class="btn btn-warning btn-circle btn-sm popoverxd"
																	th:id_talla="${listConsumo_id[listConsumo_iterator.index]}"
																	th:num_talla="${listConsumo[0]}"
																	th:onclick="'editar_tallas(this,' + ${action} + ');'">
																	<i class="fas fa-pen"></i>
																</button>
															</td>
														</tr>
													</tbody>
												</table>
											</div>



											<div th:if="${listConsumoExtras}!=null" class="col-md-12"
												id="contenedor-combinacion">
												<table class="table tablaConsumo table-striped table-bordered"
													id="table-combinacion" name="table-combinacion">
													<thead>

														<tr>
															<th rowspan='2' style="width:5%">Talla</th>
															<th th:each="listLargo: ${listLargo}" colspan="2"
																class="text-center" style="width:13%"
																th:text="${listLargo}">
															<th rowspan='2' style="width:4%">Acciones</th>
														</tr>



														<tr>
															<th th:each="numTallas: ${numTallas}" class="text-center"
																style="width:6.5%" th:text="${numTallas}">
														</tr>
													</thead>
													<tbody>

														<tr
															th:each="listConsumoExtras, listConsumoExtras_iterator: ${listConsumoExtras}">

															<td th:each="listConsumoExtras2, listConsumoExtras_iterator2: ${listConsumoExtras}"
																th:text="${listConsumoExtras2}?: 'S/N'"></td>


															<td class="tdcenter">
																<button data-container="body" data-toggle="popover"
																	data-placement="top" data-content="Editar"
																	class="btn btn-warning btn-circle btn-sm popoverxd"
																	th:id_talla="${listConsumoExtras_id[listConsumoExtras_iterator.index]}"
																	th:num_talla="${listConsumoExtras[0]}"
																	th:onclick="'editar_tallas(this,' + ${action} + ');'">
																	<i class="fas fa-pen"></i>
																</button>
															</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<input type="hidden" name="_csrf" id="token" th:value="${_csrf.token}" />
							</div>
							<div th:insert="modal-consumo-por-prendas"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- /.content-wrapper -->
		<div th:insert="navegacion-footer"></div>
	</div>
	<!-- ./wrapper -->
	<div th:replace="navegacion-scripts"></div>
	<!-- Funcionalidad-->

	<script>
		$('#iDiseno').removeClass('text-altima');
		$('#navDiseno').addClass('active-altima');
		$('#menuDiseno').addClass('menu-open');
		$('#navDiseno3').addClass('active');
	</script>
	<script th:src="@{/dist/js/ConsumoTallaPrenda.js}"></script>
	<script th:src="@{/dist/js/tablaConsumoDePrendas.js}"></script>

</body>

</html>