<!-- Modal -->
<div class="modal fade" id="detallePrendas" tabindex="-1" role="dialog" aria-labelledby="nuevoTicketTitulo"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Control de telas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="row">

                        <div class="form-group col-md-12">
                            <table class="table tablaGeneral table-striped table-bordered" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>OP</th>
                                        <th>Coord.</th>
                                        <th>Modelo</th>
                                        <th>Tela Principal</th>
                                        <th>Cantidad Mat.</th>
                                        <th>Estatus</th>
                                        <th>REF. Salida</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>                                       
                                        <td>1</td>                                       
                                        <td>BLU10236</td>                                       
                                        <td>LS10256</td>                                       
                                        <td>200</td>                                       
                                        <td>Surtido/Parcial</td>                                       
                                        <td>SAL10058</td>                                       
                                    </tr>
                                    <tr>
                                        <td>8</td>                                       
                                        <td>2</td>                                       
                                        <td>BLU10285</td>                                       
                                        <td>LS10844</td>                                       
                                        <td>200</td> 
                                        <td></td>                                      
                                        <td></td>                                      
                                    </tr>
                                    <tr>
                                        <td>14</td>                                       
                                        <td>3</td>                                       
                                        <td>CAM10023</td>                                       
                                        <td>DI12369</td>                                       
                                        <td>200</td> 
                                        <td></td>                                      
                                        <td></td>                                      
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>