<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
<title id="pageTitle">Carga de pedidos | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<div th:insert="navegacion-nav"></div>
		<!-- /.navbar -->
		<!-- Modal -->
		<div th:insert="navegacion-logout"></div>
		<!-- Main Sidebar Container -->
		<div th:insert="navegacion-aside"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Detalle de precios <a th:href="@{/carga-de-pedidos}"><button data-toggle="popover"class="btn btn-danger btn-circle btn-sm popoverxd" data-container="body" data-placement="right" data-content="Regresar"><i class="fas fa-arrow-left"></i></button></a></h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a th:href="@{'/'}">Dashboard</a></li>
								<li class="breadcrumb-item active">Agentes de Venta</li>
								<li class="breadcrumb-item active">Carga de Pedidos</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-header bg-dark">
									<h3 class="card-title">No. Pedido: 5050</h3> </div>
								<div class="card-body">
										<table class="table table-bordered tablaPrecios" style="width:100%">
											<thead>
												<tr>
													<th>Coordinado</th>
													<th>Prenda</th>
													<th>Modelo</th>
													<th>Tela</th>
													<th>Composici&oacute;n</th>
													<th>Color</th>
													<th>Precio bordados</th>
													<th>Precio</th>
													<th>% adicional</th>
													<th>Monto adicional</th>
													<th>Precio final</th>
													<th>Observaciones</th>
													<th>Bordado</th>
											</thead>
											<tbody>
											 <tr th:each="listCoor: ${listCoor}">
											 	
											 	<td th:text="${listCoor[1]}"></td>
											 	<td th:text="${listCoor[2]}"></td>
											 	<td th:text="${listCoor[3]}"></td>
											 	<td th:text="${listCoor[4]}"></td>
											 	<td th:text="${listCoor[5]}"></td>
											 	<td th:text="${listCoor[6]}"></td>
											 	<td th:text="${listCoor[7]}"></td>
											 	<td th:text="${listCoor[8]}"></td>
											 	<td>
													<input class="form-control" type="number"
													
													 step="any"
													 onChange=" porcentaje (this);"
													 th:value="${listCoor[9]}"
													 th:id ="adicional+${listCoor[0]}"  
													 th:name ="adicional+${listCoor[0]}"  
													
													 th:id_prenda ="${listCoor[0]}"
													 th:precio_bordado ="${listCoor[7]}"
													 th:precio="${listCoor[8]}"
													 
												>
												</td>
											 	<td>
													<input class="form-control" type="number" 
													step="any"
													onChange=" monto (this);"
													th:value="${listCoor[10]}" 
													th:id ="monto+${listCoor[0]}"
													th:name ="monto+${listCoor[0]}"
													
													th:id_prenda ="${listCoor[0]}"
													
													th:precio_bordado ="${listCoor[7]}"
													th:precio="${listCoor[8]}"
													 >
												</td>
												
												
												
												
												<td th:id ="final+${listCoor[0]}" th:text="${listCoor[11]}"></td>
												
												
												<td class="text-center">
														<a data-toggle="modal" onclick=" obser (this);" th:obser ="${listCoor[12]}" th:id_prenda ="${listCoor[0]}"    data-target="#observacionesDetallePrecios" class="btn btn-primary text-white btn-circle btn-sm popoverxd" data-container="body" data-placement="top" data-content="Ver observaciones"><i class="fas fa-eye" style="margin-left:-1px"></i></a>
													</td>
													<td class="text-center">
														<a data-toggle="modal"  th:onclick="'bordados('+${listCoor[0]}+')'" data-target="#modalBordado" class="btn btn-primary text-white btn-circle btn-sm popoverxd" data-container="body" data-placement="top" data-content="Bordados"><i class="flaticon-needle-with-thread-to-sew-clothes" style="margin-left:-2px"></i></a>
													</td>
											 </tr>
											 
											</tbody>
										</table>
										<div th:insert="modal-observaciones-precios"></div>
										<div th:insert="modal-detalle-precio-bordado"></div>
									</div>
									<!-- /.card-body -->
								</div>
								<!-- /.card -->
							</div>
						</div>
					</div>
			</section>
			<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			<div th:insert="navegacion-footer"></div>
		</div>
		<!-- ./wrapper -->
		<div th:replace="navegacion-scripts"></div>
		<script th:src="@{/dist/js/tablaPreciosDetalle.js}"></script>
		<script th:src="@{/dist/js/tablaPreciosDetalleModal.js}"></script>
		<!-- SweetAlert -->
        <script th:src="@{/dist/js/sweetalert.js}"></script>
		<script>
		$('#iComercial').removeClass('text-primary');
		$('#menuComercial').addClass('menu-open');
		$('#navComercial').addClass('active');
		$('#menuVenta').addClass('menu-open');
		$('#navVenta').addClass('active');
		$('#navVenta4').addClass('active');
		</script>
		
		<script>
		
		function eliminar(t) {
			var td = t.parentNode;
			var tr = td.parentNode;
			var table = tr.parentNode;
			table.removeChild(tr);
		}
		
		function porcentaje(e) {
			
				var precio = e.getAttribute("precio");
				var id = e.getAttribute("id_prenda");
				var precioBordado = e.getAttribute("precio_bordado");
			
				
				var adicional = $("#adicional"+id).val();
				
				if (adicional == ''){
					adicional='0.00';
					
				}
				
				adicional= Number.parseFloat(adicional).toFixed(2);;
				 $("#adicional"+id).val(adicional);
				var monto = (adicional/100)*precio;
				 $("#monto"+id).val(monto.toFixed(2));
				 var precioFinal = (Number(precio)+Number(precioBordado)+Number(monto));	 
				 document.getElementById("final"+id).textContent = precioFinal.toFixed(2); 
				 
				 
				 
				 monto= monto.toFixed(2);
				 precioFinal= precioFinal.toFixed(2);
				 
				 $.ajax({
				        method: "post",
				        url: "/precio-final",
				        data: {
				        	
				        	id:id,
				        	porcentaje:adicional,
				        	monto :monto,
				            preciof:precioFinal,
	                        _csrf: $("#token").val(),
	                    },
				        
				        beforeSend: function () {
		                   
		                },
		                success: function (r) {
		                	
		                	Swal.fire({
		        				position: 'center',
		        				icon: 'success',
		        				title: 'Precio  modificado',
		        				showConfirmButton: false,
		        				timer: 1250
		        			})
		                },
		                error: function () {
		                    alert("Ocurrio un error en el servidor de modelo ..");
		                    prenda.prop("disabled", false);
		                },

				    });
				
		
			
			
					
		}
		
		
	function monto(e) {
			var precio = e.getAttribute("precio");
			var id = e.getAttribute("id_prenda");
			var precioBordado = e.getAttribute("precio_bordado");
			var monto = $("#monto"+id).val();
			
			if (monto == ''){
				monto='0.00';
				
			}
			monto= Number.parseFloat(monto).toFixed(2);;
			 $("#monto"+id).val(monto);
		
			
			
			var adicinal = (monto*100)/precio;
			 $("#adicional"+id).val(adicinal.toFixed(2));
			 var precioFinal = (Number(precio)+Number(precioBordado)+Number(monto));
			 document.getElementById("final"+id).textContent = precioFinal.toFixed(2); 
			 
			 adicinal = adicinal.toFixed(2);

			 precioFinal=precioFinal.toFixed(2);
			 
			 $.ajax({
			        method: "post",
			        url: "/precio-final",
			        data: {
			        	
			        	id:id,
			        	porcentaje:adicinal,
			        	monto :monto,
			            preciof:precioFinal,
                     _csrf: $("#token").val(),
                 },
			        
			        beforeSend: function () {
	                   
	                },
	                success: function (r) {
	                	
	                	Swal.fire({
	        				position: 'center',
	        				icon: 'success',
	        				title: 'Precio  modificado',
	        				showConfirmButton: false,
	        				timer: 1250
	        			})
	                },
	                error: function () {
	                    alert("Ocurrio un error en el servidor de modelo ..");
	                    prenda.prop("disabled", false);
	                },

			    });
			 
		}
	
	
	function obser(e) {
		var id = e.getAttribute("id_prenda");
		var ob = e.getAttribute("obser");
		$("#id_coor_prenda").val(id);
		$("#observacionesDP").val(ob);
	
	}
	
	
	function obser_guardar() {
		
		
		var id =$("#id_coor_prenda").val();
		var ob= $("#observacionesDP").val();
		 $.ajax({
		        method: "post",
		        url: "/observacion-prenda",
		        data: {
		        	
		        	id:id,
		        	observacion:ob,
              		_csrf: $("#token").val(),
          },
		        
		        beforeSend: function () {
                
             },
             success: function (r) {
             	
             	Swal.fire({
     				position: 'center',
     				icon: 'success',
     				title: 'Observacion modificada',
     				showConfirmButton: false,
     				timer: 1250
     			})
     			
     			location.reload();
             },
             error: function () {
                 alert("Ocurrio un error en el servidor de modelo ..");
                 prenda.prop("disabled", false);
             },

		    });
	}
	
	
	 function bordados(id) {
		 
		 document.formBordado.id_coor_prenda.value = id
		 $.ajax({
			    method: "GET",
			    url: "/mostrar-bordados",
			    data: { id: id},
			    beforeSend: function () {
		        	 Swal.fire({
		                 title: 'Cargando ',
		                 html: 'Por favor espere',// add html attribute if you want or remove
		                 allowOutsideClick: false,
		                 timerProgressBar: true,
		                 onBeforeOpen: () => {
		                     Swal.showLoading()
		                 },
		             });
		        	
		        },
			    success: (data) => {
			    	$("#contenedor").empty();
			    	$('#contenedor').append(
			    			"<table class'table table-bordered tablaModalPrecio' style='width:100%' id='table'>" +
		                    	"<thead>" +
		                               "<tr>" +
		                                  "<th>Precio</th>" +
		                                  "<th>Archivo</th>" +
		                                  "<th>Eliminar</th>" +
		                                 "</tr>" +
		                        "</thead>" +
		                     "</table>" );
			    	
			        var a;
			        var b = [];
			        for (i in data){
			        	
			        	
			        		a = [
								"<tr>" +
								"<td>" + data[i].precioBordado+ "</td>",
								"<td>" + data[i].archivoBordado + "</td>",		
								" <td>"+
								
								"<button  onclick='eliminar(" + data[i].idPrendaBordado + ")' class='btn btn-danger'>Eliminar</button>"+
								
								"</td>"+
								"<tr>"
								];
			        	
							b.push(a);	
			        }	        
				    var tabla = $('#table').DataTable({
		            	"data":b,
		                "ordering": true,
		                "pageLength": 5,
		                "lengthMenu": [
		                    [5, 10, 25, 50, 10],
		                    [5, 10, 25, 50, 10]
		                ],
		                "language": {
		                    "sProcessing": "Procesando...",
		                    "sLengthMenu": "Mostrar _MENU_ registros",
		                    "sZeroRecords": "No se encontraron resultados",
		                    "sEmptyTable": "Ningún dato disponible en esta tabla =(",
		                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
		                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
		                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
		                    "sInfoPostFix": "",
		                    "sSearch": "Buscar:",
		                    "sUrl": "",
		                    "sInfoThousands": ",",
		                    "sLoadingRecords": "Cargando...",
		                    "oPaginate": {
		                        "sFirst": "Primero",
		                        "sLast": "Último",
		                        "sNext": "Siguiente",
		                        "sPrevious": "Anterior"
		                    },
		                    "oAria": {
		                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
		                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
		                    },
		                    "buttons": {
		                        "copy": "Copiar",
		                        "colvis": "Visibilidad"
		                    }
		                }
		            });
			    },
			    
			    complete: function() {
					Swal.fire({
		 				title: 'Agregado correctamente',
		 				showConfirmButton: false,
		 				timer: 1
		 			})
			    },
			    error: (e) => {
			        // location.reload();
			    }
		}
		)
	 }
	 
	 $(".two-decimals").change(function(){ 
		    this.value = parseFloat(this.value).toFixed(2); 
		}); 
	  
	 $( "#formBordado" ).bind( "submit", function (e) {
		 $("#guardar_bordado").prop("disabled", true);
		    e.preventDefault();
		    
		    
		    
		    var id= document.formBordado.id_coor_prenda.value;
	        var form = $('#formBordado')[0];
			// Create an FormData object
	        var data = new FormData(form);
		    $.ajax({
		        method: "post",
		        url: "/guardar-bordado",
		        data: data,
		        cache: false,
		        /* upload */
		        contentType: false,
		        processData: false,
		        
		        beforeSend: function () {
                   
                },
                success: function (r) {
                	bordados(id);
                	
                	$('#bordadoPrecio').val('');
                	$('#imagenTela').val('');
                	 $("#guardar_bordado").prop("disabled", false)
                	
                	Swal.fire({
        				position: 'center',
        				icon: 'success',
        				title: 'Agregado correctamente',
        				showConfirmButton: false,
        				timer: 1250
        			})
                },
                error: function () {
                    alert("Ocurrio un error en el servidor de modelo ..");
                    prenda.prop("disabled", false);
                },

		    });

		} )
		
		
		
	
function eliminar(idbaja) {
	var idbaja = idbaja;
	
	 var id= document.formBordado.id_coor_prenda.value ;
	Swal.fire({
		title: 'Deseas eliminar el bordado?',
		icon: 'warning',
		showCancelButton: true,
		cancelButtonColor: '#6C757D',
		cancelButtonText: 'Cancelar',
		confirmButtonText: 'Eliminar',
		confirmButtonColor: '#dc3545',
	}).then((result) => {
		if (result.value && idbaja != null) {

			$.ajax({
				type: "POST",
				url: "/eliminar-bordado",
				data: {
					"_csrf": $('#token').val(),
					'id': idbaja

					// ,'Descripcion':Descripcion
				}

			}).done(function (data) {

				bordados(id);
			});
			Swal.fire({
				position: 'center',
				icon: 'success',
				title: 'dado de baja correctamente',
				showConfirmButton: false,
				timer: 1250
			})
		} // ////////////termina result value
	})
}
		</script>
</body>

</html>