<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
<title id="pageTitle">Carga de pedidos | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<div th:insert="navegacion-nav"></div>
		<!-- /.navbar -->
		<!-- Modal -->
		<div th:insert="navegacion-logout"></div>
		<!-- Main Sidebar Container -->
		<div th:insert="navegacion-aside"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Detalle de precios <a th:href="@{/carga-de-pedidos}"><button class="btn btn-sm icon-btn btn-danger text-white"><span class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Regresar</button></a></h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a th:href="@{'/'}">Dashboard</a></li>
								<li class="breadcrumb-item active">Agentes de Venta</li>
								<li class="breadcrumb-item active">Carga de Pedidos</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-header bg-altima">
									<h3 class="card-title" th:text="'No. Pedido: '+ ${numPedido}" ></h3> </div>
								<div class="card-body">
										<table class="table table-bordered tablaPrecios" style="width:100%">
											<thead>
												<tr style="font-size:12.5px; text-align: center;">
													<th>Coordinado</th>
													<th>Prenda</th>
													<th>Modelo</th>
													<th>Tela</th>
													<th>Composici&oacute;n</th>
													<th>Color</th>
													<th>Precio de personalizado</th>
													<th>Precio</th>
													<th>% adicional</th>
													<th>Monto adicional</th>
													<th>Precio final</th>
													<th>Observaciones</th>
													<th>Personalizado</th>
												</tr>
											</thead>
											<tbody>
											 <tr th:each="listCoor: ${listCoor}" style="font-size:12.5px;">
											 	
											 	<td th:text="${listCoor[1]}"></td>
											 	<td th:text="${listCoor[2]}"></td>
											 	<td th:text="${listCoor[3]}"></td>
											 	<td th:text="${listCoor[4]}"></td>
											 	<td th:text="${listCoor[5]}"></td>
											 	<td th:text="${listCoor[6]}"></td>
											 	<td th:text="${listCoor[7]}"></td>
											 	<td th:text="${listCoor[8]}"></td>
											 	<td>
													<input class="form-control" type="number"
													
													 step="any"
													 onChange=" porcentaje (this);"
													 th:value="${listCoor[9]}"
													 th:id ="adicional+${listCoor[0]}"  
													 th:name ="adicional+${listCoor[0]}"  
													
													 th:id_prenda ="${listCoor[0]}"
													 th:precio_bordado ="${listCoor[7]}"
													 th:precio="${listCoor[8]}"
													 
												>
												</td>
											 	<td>
													<input class="form-control" type="number" 
													step="any"
													onChange=" monto (this);"
													th:value="${listCoor[10]}" 
													th:id ="monto+${listCoor[0]}"
													th:name ="monto+${listCoor[0]}"
													
													th:id_prenda ="${listCoor[0]}"
													
													th:precio_bordado ="${listCoor[7]}"
													th:precio="${listCoor[8]}"
													 >
												</td>
												
												
												
												
												<td th:id ="final+${listCoor[0]}" th:text="${listCoor[11]}"></td>
												
												
												<td class="text-center">
														<a data-toggle="modal" onclick=" obser (this);" th:obser ="${listCoor[12]}" th:id_prenda ="${listCoor[0]}"    data-target="#observacionesDetallePrecios" class="btn btn-primary text-white btn-circle btn-sm popoverxd" data-container="body"  data-content="Ver observaciones"><i class="fas fa-eye" style="margin-left:-1px"></i></a>
													</td>
													<td class="text-center">
														<a data-toggle="modal"  th:onclick="'bordados('+${listCoor[0]}+')'" data-target="#modalBordado" class="btn btn-primary text-white btn-circle btn-sm popoverxd" data-container="body"  data-content="Personalizados"><i class="flaticon-needle-with-thread-to-sew-clothes" style="margin-left:-2px"></i></a>
													</td>
											 </tr>
											 
											</tbody>
										</table>
										<div th:insert="modal-observaciones-precios"></div>
										<div th:insert="modal-detalle-precio-bordado"></div>
									</div>
									<!-- /.card-body -->
								</div>
								<!-- /.card -->
							</div>
						</div>
					</div>
			</section>
			<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			<div th:insert="navegacion-footer"></div>
		</div>
		<!-- ./wrapper -->
		<div th:replace="navegacion-scripts"></div>
		<script th:src="@{/dist/js/tablaPreciosDetalle.js}"></script>
		<script th:src="@{/dist/js/tablaPreciosDetalleModal.js}"></script>
		<!-- SweetAlert -->
        <script th:src="@{/dist/js/sweetalert.js}"></script>
        
        <script th:src="@{/dist/js/precioBordado.js}"></script>
		<script>
		$('#iComercial').removeClass('text-altima');
		$('#menuComercial').addClass('menu-open');
		$('#navComercial').addClass('active-altima');
		$('#menuVenta').addClass('menu-open');
		$('#navVenta').addClass('active');
		$('#navVenta4').addClass('active');
		</script>
		
		
</body>

</html>