<div class="modal fade" id="avancestickets" tabindex="-1" role="dialog" aria-labelledby="materiaPrimaAlmacen"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 80%;" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title">Devoluci&oacute;n</h5>
            </div>
            <form action="">
                <div class="modal-body">
                     
 
<div id="tabla22">
                   
                    </div>
                </div>
                <div class="modal-footer">
                
                    <button class="btn icon-btn btn-danger text-white mr-auto" type="button"  data-dismiss="modal" id="cerrarModalOrden1"><span
                            class="btn-glyphicon fas fa-times fa-lg img-circle text-danger"></span>Cerrar</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>