<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle">Control de producci&oacute;n de muestras | Altima</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<div th:insert="navegacion-nav"></div>
		<!-- /.navbar -->
		<!-- Modal -->
		<div th:insert="navegacion-logout"></div>
		<!-- Main Sidebar Container -->
		<div th:insert="navegacion-aside"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>
								Control de producci&oacute;n de muestras <a
									class="btn btn-danger btn-circle btn-sm popoverxd"
									data-container="body" data-toggle="popover"
									 data-content="Regresar"
									th:href="${'control-de-produccion'}"><i
									class="fas fa-arrow-left"></i></a>
							</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item altima">Altima</li>
								<li class="breadcrumb-item active">Dise&ntilde;o</li>
								<li class="breadcrumb-item active">Control de producci&oacute;n de muestras</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-header bg-altima">
									<h3 class="card-title">Editar colecci&oacute;n</h3>
								</div>
								<div class="card-body" id ="contenedorTabla">
									<form class="row" id="pedidoDiv">
										
										  <div class="form-group col-sm-4">
                                            <label for="coorNumero">Cantidad</label> 
                                            <input type="number" class="form-control" id="canti" name="canti" placeholder="1" value="1" disabled >
                                        </div>
										<div class="form-group col-md-4">
										   <label for="coorPrenda">Prenda</label>
										   <select class="form-control selectpicker coorPrenda"  data-live-search="true" id="coorPrenda">
										     <option value="" selected>Selecciona uno...</option>
											 <option th:each="listPrendas: ${listPrendas}" th:value="${listPrendas[0]}"
												th:text="${listPrendas[1]}"></option>
										    </select>
										    
										    
										</div>
										<div class="form-group col-md-4">
										   <label for="coorModelo">Modelo</label>
										   <select class="form-control selectpicker coorModelo"  data-live-search="true" id="coorModelo" name="coorModelo">
										   
										      <option value="" selected >Selecciona uno...</option>
										    </select>
										</div>
										
										<div class="col-md-12 row   justify-content-center" id="padreGenero">
                                        	
                                        	
										
										</div>
                                       
										
										<div class="col-md-12 row   justify-content-center" id="elimnar333">
										
										</div>
										<div class="form-group col-md-4" >
										   <label for="coorTela">Tela</label>
										   <select class="form-control selectpicker coorTela" data-live-search="true" id="coorTela" >
										      <option value="" selected >Selecciona uno...</option>
										    </select>
										</div>
										
										
										
										 <input type="hidden"  id="pedido" name="pedido"  th:field="${objetoDetalle.idPedido}" >
										 
										 <input type="hidden" name="_csrf" id="token"  th:value="${_csrf.token}"/>
										
										
										
										
										<div class="form-group col-sm-4">
                                            <label for="coorNumero">Talla</label> 
                                            <input type="number" class="form-control" id="coortalla" placeholder="1"  value="1" name="coortalla" >
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="coorNumero">Largo</label> 
                                            <input type="text" class="form-control" id="coorlargo" placeholder="1" value="1"  name="coorlargo" >
                                        </div>
                                        
                                        
                                        
										
										
										
										
                                       
									
									
									 
									
										
										<div class="col-md-12 row   justify-content-center" id="elimnar">
										
										</div>
										
										
										
											<div class="col-md-12 row   justify-content-center" id="elimnar22">
										
										</div>
										
											
											<div class="col-md-12 row   justify-content-center" id="elimnar222">
										
										</div>
										
										
										<div class="col-md-12 row   justify-content-center" id="escript">
										
										</div>
										
										
											<div class="form-group col-sm-12">
									
											<input type="button" class="btn btn-primary next-step float-right" value="Agregar" onclick='agregar()'> </div>
											
											
										</div>
										
										
									</form>
									
									
											<table class="table tablaPrenda table-striped table-bordered">
		                                        <thead>
		                                            <tr>
		                                             <th>Cantidad</th>
		                                                <th>Familia Prenda</th>
		                                                <th>Modelo</th>
		                                                <th>Tela</th>
		                                                <th>Talla</th>
														<th>Largo</th>
		                                                <th>Eliminar</th>
		                                            </tr>
		                                        </thead>
		                                        <tbody>
		                                           <tr th:each="mt:${listtabla}">
		                                                <td th:text="${mt[7]}"></td>
		                                               <td th:text="${mt[0]}"></td>
		                                               <td th:text="${mt[1]}"></td>
													   <td th:text="${mt[2]}"></td>
													   <td th:text="${mt[5]}"></td>
													   <td th:text="${mt[4]}"></td>
		                                               
		                                               
		                                                
		                                                <td class="tdcenter" >
                                                	
                                                	
                                                 
                                                          
                                                          
                                                     <a  th:href="@{/eliminar-pedido-interno-coleccion/}+${mt[6]}+'/'+${objetoDetalle.idPedido}" class="btn btn-danger btn-circle btn-sm btn-delete popoverxd"
                                                         data-container="body" data-toggle="popover" 
														  data-content="Dar de baja">  <i class="fas fa-caret-down"></i> </a>
														  
                                                </td>
		                                            </tr>
		                                        </tbody>
		                                    </table>
										
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- /.content-wrapper -->
		<div th:insert="navegacion-footer"></div>
	</div>
	<!-- ./wrapper -->

	<div th:replace="navegacion-scripts"></div>
	
	<script th:src="@{/dist/js/coleccionDinamico.js}"></script>
	
	<script>
	$('#iDiseno').removeClass('text-altima');
	$('#menuDiseno').addClass('menu-open');
	$('#navDiseno').addClass('active-altima');
	$('#navDiseno5').addClass('active');
	</script>
</body>

</html>