<div class="modal fade" id="nuevoFolio" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title">Nuevo folio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="row">
              <div class="form-group col-md-12">
                <label for="folioText">Folio</label>
                <input type="text" class="form-control" id="folioText" placeholder="1">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto" type="button"><span
              class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
          <a class="btn icon-btn btn-altima text-white" type="submit"><span
              class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="nuevoRuta" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title">Nueva ruta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="row">
              <div class="form-group col-md-12">
                <label for="rutaText">Ruta</label>
                <input type="text" class="form-control" id="rutaText" placeholder="1">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto" type="button"><span
              class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
          <a class="btn icon-btn btn-altima text-white" type="submit"><span
              class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="nuevoPrograma" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title">Nuevo programa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="row">
              <div class="form-group col-md-12">
                <label for="programaText">Programa</label>
                <input type="text" class="form-control" id="programaText" placeholder="1">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto" type="button"><span
              class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
          <a class="btn icon-btn btn-altima text-white" type="submit"><span
              class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</a>
        </div>
      </div>
    </div>
  </div>