<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Empalme de telas | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div th:insert="modales-empalme-tela"></div>
                        <div class="col-sm-4">
                            <h1>
                                Cálculo de carga de producción
                            </h1>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="procesosActivos">Procesos</label>
                            <select class="form-control selectpicker" data-live-search="true" id="procesosActivos">
                                <option value="">Seleccione un proceso...</option>
                                <option th:each="proceso:${listProcesos}" th:text="${proceso[1]}"
                                    th:value="${proceso[0]}" th:descripcion="${proceso[2]}" th:proceso="${proceso[3]}"
                                    th:tipo="${proceso[4]}">
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="programa">Programa</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" id="programa">
                                <div class="input-group-append" style="margin-left:10px;display:block;">
                                    <button class="btn btn-sm icon-btn btn-altima text-white float-right"
                                        onclick="listarPorProceso()"><span
                                            class="btn-glyphicon fas fa-save img-circle text-altima"></span>Buscar</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Producci&oacute;n</li>
                                <li class="breadcrumb-item active">Empalme de telas</li>
                            </ol>
                        </div>
                        <div th:insert="empalme-telas-folio"></div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de empalme
                                        <!--<button th:if="${load}=='empalme'"
                                            sec:authorize="hasAnyRole('ROLE_PRODUCCION_EMPALME_TELAS_AÑADIR_FOLIO','ROLE_ADMINISTRADOR')"
                                            onclick="nuevoFolio()"
                                            class="btn btn-sm icon-btn btn-success text-white mr-auto"
                                            type="button"><span
                                                class="btn-glyphicon fas fa-plus img-circle text-success"></span>Secuencia
                                        </button>-->

                                        <botton th:if="${load}=='empalme'" onclick="verCalendario()"
                                            class="btn btn-sm icon-btn btn-secondary text-white"><span
                                                class="btn-glyphicon fas fa-calendar img-circle text-secondary"></span>Fechas
                                        </botton>

                                        <button id="botton_secuencia" 
                                            onclick="nuevaSecuencia()"
                                            class="btn btn-sm icon-btn btn-success text-white mr-auto"
                                            type="button"><span
                                                class="btn-glyphicon fas fa-plus img-circle text-success"></span>Secuencia
                                        </button>
                                        <button id="botonCalcularHoras" 
                                        onclick="calcularHoras()"
                                        class="btn btn-sm icon-btn btn-info text-white mr-auto"
                                        type="button"><span
                                            class="btn-glyphicon fas fa-calculator img-circle text-info"></span>Calcular
                                    </button>
                                    </h3>
                                </div>
                                <div class="card-body" id="contenedor-tableEmpalme">
                                    <table class="tableEmpalme display compact" style="width: 100%;" id="tableEmpalmeId">
                                        <thead>
                                            <tr>
                                                <th> <input type="checkbox" id="testSelect" onclick="seleccionarTodos()" class="">
                                                </th>
                                                <th>Secuencia</th>
                                                <th>Pedido</th>
                                                <th>Fecha_entrega</th>
                                                <th>Coord.</th>
                                                <th>Prenda</th>
                                                <th>Modelo</th>
                                                <th>Personalización</th>
                                                <th>Cantidad</th>
                                                <th>Clave tela</th>
                                                <th>Ancho</th>
                                                <th>Composici&oacute;n</th>
                                                <th>Encog./Estir.</th>
                                                <th>Estampado</th>
                                                <th>Estatus_tela</th>
                                                <th>Tiempo</th>
                                                <th>Fecha programada</th>
                                                <th>Detalles</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:insert="empalme-telas-detalle"></div>
        <div th:insert="navegacion-footer"></div>
    </div>
    <!-- ./wrapper -->
    <div th:replace="navegacion-scripts"></div>
    <script src="dist/js/tablaEmpalme.js"></script>
    <script src="dist/js/EmpalmeTelas.js"></script>
    <script>
        $('#iProduccion').removeClass('text-altima');
        $('#menuProduccion').addClass('menu-open');
        $('#navProduccion').addClass('active-altima');
        $('#navProEmp').addClass('active');
    </script>

</body>

</html>