<div class="modal fade" id="detalleTelas" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 67%;" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title">Detalle telas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table id="tablaDetalles" class="table tablaGeneral table-striped table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Clave tela</th>
                        <th>Color</th>
                        <th>Tipo</th>
                        <th>Fecha recepci&oacute;n</th>
                        <th>Consumo T.</th>
                        <th>Estatus de tela</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>LS576</td>
                        <td>Azul</td>
                        <td>Principal</td>
                        <td>08/12/2020</td>
                        <td>8.05</td>
                        <td>Completa</td>
                    </tr>
                    <tr>
                        <td>LS645</td>
                        <td>Azul</td>
                        <td>Combinacion</td>
                        <td></td>
                        <td>1.36</td>
                        <td>Faltante</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalPedido" tabindex="-1" role="dialog" aria-labelledby="Formulario" data-keyboard="false" data-backdrop="static"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 40%;" role="document">
    <div class="modal-content modal-rounded-body">
      <div class="modal-header bg-altima modal-rounded-header">
        <h5 class="modal-title">Selecci&oacute;n de proceso</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="">Pedido</label>
            <input type="text" class="form-control" id="pedido">
          </div>
        </div>
      </div>
      <div class="modal-footer modal-rounded-footer">
        <button class="btn btn-sm icon-btn btn-altima text-white float-right" onclick="listarPorPedido()"><span
            class="btn-glyphicon fas fa-save img-circle text-altima"></span>Buscar</button>
      </div>
    </div>
  </div>
</div>