<div class="modal fade" id="nuevoEmpleadoSPF" tabindex="-1" role="dialog" aria-labelledby="nuevoEmpleadoSPFTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title">Actualizar empleado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
                <label for="actualizarEmpleadoSPF">Nombre del empleado</label>
                <select class="form-control selectpicker" data-live-search="true" data-live-search-normalize="true" title="Selecciona uno..." id="actualizarEmpleadoSPF">
                    <option value="">Jose Luis Martinez</option>
                    <option value="">Gabriela Sanchez Luna</option>
                    <option value="">Manuel Quesada</option>
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto"><span class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</button>
            <button data-dismiss="modal" class="btn icon-btn btn-success text-white mr-auto"><span class="btn-glyphicon fas fa-plus img-circle text-success"></span>Agregar todos</button>
            <button type="submit" class="btn icon-btn btn-altima text-white float-right"><span class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Agregar uno</button>            
        </div>
      </div>
    </div>
  </div>