<div class="modal fade" id="generarTickets" tabindex="-1" role="dialog" aria-labelledby="materiaPrimaAlmacen"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 90%;" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title">Herramientas</h5>
            </div>
            <form action="">
                <div class="modal-body">
                     <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Movimiento</label>
     <select class="form-control" id="movimiento">
     <option>Seleccione un movimiento</option>
  <option value="Entrada">Entrada</option>
  <option value="Salida">Salida</option>
 
</select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Concepto</label>
      <select class="form-control" id="concepto">
 
 
</select>
    </div>
    
  </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Cantidad</label>
      <input type="number"  class="form-control" id="cantidad" value=""/>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Clave articulo</label>
 <select class="form-control" id="articulo">
 
 
</select>
    </div>
    <input type="hidden" id="idcontrol" value="">
        <input type="hidden" id="idprenda" value="">
    
    
     <input type="hidden" th:name="${_csrf.parameterName}" id="token" th:value="${_csrf.token}" />
    
  </div>
  <div class="form-row">
   <div class="form-group col-md-4">
   <button class="btn icon-btn btn-altima text-white" type="button" id="Guardar"><span
                            class="btn-glyphicon fas fa-check img-circle text-altima"></span>Agregar</button>
</div>
</div>
<div id="tabla">
                   
                    </div>
                </div>
                <div class="modal-footer">
                
                    <button class="btn icon-btn btn-danger text-white mr-auto" type="button"  data-dismiss="modal" id="cerrarModalOrden"><span
                            class="btn-glyphicon fas fa-times fa-lg img-circle text-danger"></span>Cancelar</button>
                    <button class="btn icon-btn btn-altima text-white" type="button" data-dismiss="modal" id="enviarOrden0"><span
                            class="btn-glyphicon fas fa-check img-circle text-altima"></span>Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>