<div class="modal fade" id="nuevaExplosion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title">Explosi&oacute;n de procesos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
                <label for="programaText">Programa</label>
                <input type="text" class="form-control" id="programaText" placeholder="DD8">
            </div>
          </div>
        </div>
        <div class="modal-footer modal-rounded-footer">
            <button data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto"><span class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</button>
            <button type="submit" class="btn icon-btn btn-altima text-white float-right" onclick="explosionProcesos()"><span class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>            
        </div>
      </div>
    </div>
  </div>
  
  <script>
  	function explosionProcesos(){
  		if($('#programaText').val()==null || $('#programaText').val() == '' || $('#programaText').val() == undefined){
  			Swal.fire({
       		 position: 'center',
    				icon: 'warning',
    				title: 'Debe llenar correctamente el nombre del programa'
  		 }); 
  		}
  		else{
  			var programa = $('#programaText').val();
  			$.ajax({
                type: "POST",
                url: "/guardar-explosion-procesos",
                data: { 
                	 "_csrf": $('#token').val(),
                	'programa': programa,
                },
                beforeSend: function () {
               	 Swal.fire({
                        title: 'Cargando ',
                        html: 'Por favor espere, se est&aacute; extrayendo la informaci&oacute;n',// add html attribute if you want or remove
                        allowOutsideClick: false,
                        timerProgressBar: true,
                        onBeforeOpen: () => {
                            Swal.showLoading()
                        },
                    });
                },
                success: function(data) {
               	 if ( data =="1"){
               		 Swal.fire({
                    		 position: 'center',
                 				icon: 'success',
                 				title: 'Se ha realizado la explosi&oacute;n',
                             allowOutsideClick: false,
                             timer: 1250,
                             timerProgressBar: true,
                             showConfirmButton: false,
                             onBeforeOpen: () => {
                             },
                         });
               		location.reload()
               	 }
               	 else if (data =="2"){
               		 Swal.fire({
                    		 position: 'center',
                 				icon: 'warning',
                 				title: 'No existe ese programa en el sistema'
               		 });    
               	 }
               	 else if (data =="3"){
              		 Swal.fire({
                   		 position: 'center',
                				icon: 'warning',
                				title: 'Algo debi&oacute; salir mal, intente m&aacute;s tarde'
              		 });    
              	  }
                }
  			});
  		}
  	}
  </script>