<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle">Clientes | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Datos de facturaci&oacute;n <a th:href="@{/agregar-facturacion/}+ ${cliente.idCliente}" class="btn btn-sm icon-btn btn-altima text-white"><span class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Nueva facturaci&oacute;n</a>
                                <a th:href="@{/clientes}" class="btn btn-sm icon-btn btn-danger text-white"><span class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Regresar</a></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Agentes de venta</li>
                                <li class="breadcrumb-item active">Clientes</li> 
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title" th:utext="Cliente+': '+ *{cliente.Nombre}"></h3>
                                </div>
                                <div class="card-body">
                                   <table class="table tablaGeneral table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <!-- <th>Folio</th> -->
                                                <th>Razon Social</th>
                                                <th>RFC</th>
                                                <th>Cuenta</th>
                                                
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="facturas: ${facturas}">
                                                <!-- <td th:text="${facturas.idTextF}"></td> -->
                                                <td th:text="${facturas.razon_socialF}"></td>
                                                <td th:text="${facturas.rfcFacturaF}"></td>
                                               	<td th:text="${facturas.cuentaContableF}"></td>
                                               	
                                               	
                                               	 <td class="tdcenter">                                        
                                                 	<a th:href="@{/editar-facturacion/}+ ${facturas.idClienteFacturaF}" class="btn btn-warning btn-circle btn-sm popoverxd" 
                                                         data-container="body" data-toggle="popover"
                                                           data-content="Editar"><i class="fas fa-pen"></i></a>
                                                          
                                                 	
                                                 		
                                               		<a   th:if="${facturas.estatusF == '1'}" th:href="@{/delete-facturacion/}+${facturas.idClienteFacturaF}" class="btn btn-danger btn-circle btn-sm btn-delete popoverxd"
                                                         data-container="body" data-toggle="popover" 
                                                          data-content="Dar de baja">  <i class="fas fa-caret-down"></i> </a> 
                                                    
                                                    <a  th:if="${facturas.estatusF == '0'}" th:href="@{/alta-facturacion/}+${facturas.idClienteFacturaF}"  class="btn btn-success text-white btn-circle btn-sm btn-alta popoverxd" 
                                                         data-container="body" data-toggle="popover" 
                                                          data-content="Dar de alta"> <i class="fas fa-sort-up"></i> </a>
                                                </td>
                                            </tr>     
                                        </tbody>
                                    </table>
	                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:insert="navegacion-footer"></div>
    </div>
    <!-- ./wrapper -->

    <div th:replace="navegacion-scripts"></div>
    <script src="/dist/js/tablaGeneral.js"></script>
    <script>
		$('#iComercial').removeClass('text-altima');
		$('#menuComercial').addClass('menu-open');
		$('#navComercial').addClass('active-altima');
		$('#menuVenta').addClass('menu-open');
		$('#navVenta').addClass('active');
		$('#navVenta2').addClass('active');
	</script>
	<script th:if="${icon != null}" th:inline="javascript">
		Swal.fire({
	    	  position: 'center',
	          icon: /*[[${icon}]]*/,
	          title: /*[[${title}]]*/,
	          showConfirmButton: false,
	          timer: 1250
	    });
	</script>

	<script>
		$('.btn-delete').on('click', function (e) {
		    e.preventDefault();
		    var href =$(this).attr('href');
		    $('#bajaFacturacionModal #btnDelteYes').attr('href',href);
		    $('#bajaFacturacionModal').modal();
		});
		</script>
		
		<script>
		$('.btn-alta').on('click', function (e) {
		    e.preventDefault();
		    var href =$(this).attr('href');
		    $('#altaClienteModal #btnDelteYes').attr('href',href);
		    $('#altaClienteModal').modal();
		});
		</script>


<div class="modal fade" id="bajaFacturacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        ¿Deseas dar de baja la facturacion?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancelar</button>
        <a id="btnDelteYes" class="btn btn-primary">Confirmar</a>
      </div>
    </div>
  </div>
</div>
</body>

<div class="modal fade" id="altaClienteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        ¿Deseas dar de alta los datos de facturacion?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancelar</button>
        <a id="btnDelteYes" class="btn btn-primary">Confirmar</a>
      </div>
    </div>
  </div>
</div>

</html>