<div class="modal fade" id="verFechas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content modal-rounded-body">
			<div class="modal-header bg-altima modal-rounded-header">
				<h5 class="modal-title" id="exampleModalLabel">Buscar fechas</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
						aria-hidden="true">&times;</span> </button>
			</div>
			<div class="modal-body col-md">
				<form class="row">
					<div class="form-group col-md-6">
						<label for="cargaEmpresa">Fecha de inicio</label>
						<input class="form-control selectpicker" type="date" id="fechaInicio">

					</div>


					<div class="form-group col-md-6">
						<label for="cargaEmpresa">Fecha de fin</label>
						<input class="form-control selectpicker" type="date" id="fechaFin">
					</div>


					<div class="form-group col-md-6" id='div-ocultar' style="display: none">
						<label for="cargaEmpresa">Pedido</label>
						<select class="form-control selectpicker idPedido" data-live-search="true" name="id-pedido"
							id="id-pedido">

						</select>
					</div>

					<div class="form-group col-md-6" id='div-ocultar2' style="display: none">
						<label for="cargaEmpresa">Fecha de toma de tallas</label>
						<input type="date" id="fechaTallas" name="fechaTallas" class="form-control" required
							min="2019-12-31" max="2025-12-31">
					</div>

					<div class="form-group col-sm-12"> <a data-dismiss="modal"
							class="btn icon-btn btn-danger text-white mr-auto"><span
								class="btn-glyphicon spancircle fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
						<button type="button" onclick='buscarFechas()'
							class="btn icon-btn btn-altima text-white float-right"><span
								class="btn-glyphicon spancircle fas fa-search img-circle text-altima"></span>Buscar</button>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" id="token" th:value="${_csrf.token}" />
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="detallesFecha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content modal-rounded-body">
			<div class="modal-header bg-altima modal-rounded-header">
				<h5 class="modal-title" id="exampleModalLabel">Horas habiles</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
						aria-hidden="true">&times;</span> </button>
			</div>
			<div class="modal-body col-md">
				<form class="row">
					<div class="form-group col-md-4">
						<label for="cargaEmpresa">Hombre</label>

						<input class="form-control selectpicker md-3" onblur="validarHoras(this.value,'horasHombre' )"
							type="text" id="horasHombre">

					</div>
					<div class="form-group col-md-4">
						<label for="cargaEmpresa">A Favor</label>
						<input class="form-control selectpicker" onblur="validarHoras(this.value, 'horasFavor')"
							type="text" id="horasFavor">
					</div>
					<div class="form-group col-md-4">
						<label for="cargaEmpresa">En Contra</label>
						<input class="form-control selectpicker" onblur="validarHoras(this.value, 'horasContra')"
							type="text" id="horasContra">
					</div>
					<div class="form-group col-md-12">
						<label for="cargaEmpresa">Observaciones</label>
						<textarea class="form-control selectpicker" type="text" id="horasObservaciones"></textarea>
					</div>
					<div class="form-group col-sm-12"> <a data-dismiss="modal"
							class="btn icon-btn btn-danger text-white mr-auto"><span
								class="btn-glyphicon spancircle fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
						<button type="button" onclick='guardarHoras()' id="btnGuardarHoras"
							class="btn icon-btn btn-altima text-white float-right"><span
								class="btn-glyphicon spancircle fas fa-save img-circle text-altima"></span>Guardar</button>
						<button type="button" onclick='editarHoras()' id="btnEditarHoras"
							class="btn icon-btn btn-altima text-white float-right"><span
								class="btn-glyphicon spancircle fas fa-save img-circle text-altima"></span>Editar</button>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" id="token" th:value="${_csrf.token}" />

					<input class="" type="hidden" id="idCalendarioFecha">
					<input class="" type="hidden" id="idCalendarioProceso">
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalSelectYear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content modal-rounded-body">
			<div class="modal-header bg-altima modal-rounded-header">
				<h5 class="modal-title" id="exampleModalLabel">Horas habiles</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
						aria-hidden="true">&times;</span> </button>
			</div>
			<div class="modal-body col-md">
				<form class="row">
					<div class="form-group col-md-12">
						<label for="cargaEmpresa">Año</label>

						<input class="form-control selectpicker md-3" type="text" id="datepicker">

					</div>
					<div class="form-group col-sm-12"> <a data-dismiss="modal"
							class="btn icon-btn btn-danger text-white mr-auto"><span
								class="btn-glyphicon spancircle fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
						<button type="button" onclick='calendario()' id="guardarYear"
							class="btn icon-btn btn-altima text-white float-right"><span
								class="btn-glyphicon spancircle fas fa-save img-circle text-altima"></span>Guardar</button>
					</div>
					<input class="" type="hidden" id="idCalendario">
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalSelectProcesos" tabindex="-1" role="dialog" aria-labelledby="Formulario"
	data-backdrop="static" data-keyboard="false" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 40%;" role="document">
		<div class="modal-content modal-rounded-body">
			<div class="modal-header bg-altima modal-rounded-header">
				<h5 class="modal-title">Selecci&oacute;n de proceso</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-md-12">
						<div class="form-group col-md-12">
							<label for="">Seleccione un proceso</label>
						</div>
						<div class="form-group col-md-12">
							<select class="form-control selectpicker" data-live-search="true"
								title="Seleccione un proceso..." id="procesosActivos">
								<option th:each="proceso:${listProcesos}" th:text="${proceso[1]}"
									th:value="${proceso[0]}" th:descripcion="${proceso[2]}" th:proceso="${proceso[3]}">
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer modal-rounded-footer">
				<button class="btn btn-sm icon-btn btn-altima text-white float-right" id="listarTiempoProceso"
					onclick="listarTiempoProceso()"><span
						class="btn-glyphicon fas fa-save img-circle text-altima"></span>Seleccionar</button>
			</div>
		</div>
	</div>
</div>