<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/dist/css/cardAnimation.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png" sizes="32x32" href="/dist/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<div th:include="navegacion-head :: header"></div>
	<title id="pageTitle">Inicio | Altima</title>
</head>

<body class="hold-transition layout-top-nav">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<div th:insert="navegacion-nav"></div>
		<!-- /.navbar -->
		<!-- Modal -->
		<div th:insert="navegacion-logout"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
			</section>
			<!-- Main content -->
			<section class="content" style="margin-top: 60px;">
				<div class="container-fluid">
					<div class="row">
						<div class="form-group col-md-4">
							<div class="profile1">
								<div class="photo1"><img src="/dist/img/DisenoNotificaciones.png"/></div>
								<div class="content1">
								  <div class="text1" style="font-family: Raleway, Microsoft JhengHei, Arial, sans-serif;">
									<h3 style="font-size: 20px;">Notificaciones</h3>
									<h6 style="font-size: 12px;">Dise&ntilde;o</h6>
								  </div>
								  <a th:href="${'/notificaciones-diseno'}">
								  <div class="btn">
									  <i class="fas fa-arrow-right" style="font-size: 28px;color: #fff;margin-top: 5px;"></i>
								  </div>
								  </a>
								</div>
							</div>
						</div>
						<div class="form-group col-md-4">
							<div class="profile1">
								<div class="photo1"><img src="/dist/img/DisenoCalidad.png"/></div>
								<div class="content1">
								  <div class="text1" style="font-family: Raleway, Microsoft JhengHei, Arial, sans-serif;">
									<h3 style="font-size: 20px;">Calidad</h3>
									<h6 style="font-size: 12px;">Dise&ntilde;o</h6>
								  </div>
								  <a th:href="${'/calidad'}">
								  <div class="btn">
									  <i class="fas fa-arrow-right" style="font-size: 28px;color: #fff;margin-top: 5px;"></i>
								  </div>
								  </a>
								</div>
							</div>
						</div>
						<div class="form-group col-md-4">
							<div class="profile1">
								<div class="photo1"><img src="/dist/img/DisenoMateriales.png"/></div>
								<div class="content1">
								  <div class="text1" style="font-family: Raleway, Microsoft JhengHei, Arial, sans-serif;">
									<h3 style="font-size: 20px;">Materiales</h3>
									<h6 style="font-size: 12px;">Dise&ntilde;o</h6>
								  </div>
								  <a th:href="${'/materiales'}">
								  <div class="btn">
									  <i class="fas fa-arrow-right" style="font-size: 28px;color: #fff;margin-top: 5px;"></i>
								  </div>
								  </a>
								</div>
							</div>
						</div>
						<div class="form-group col-md-4" style="margin-top: 115px;">
							<div class="profile1">
								<div class="photo1"><img src="/dist/img/DisenoPrendas.png"/></div>
								<div class="content1">
								  <div class="text1" style="font-family: Raleway, Microsoft JhengHei, Arial, sans-serif;">
									<h3 style="font-size: 20px;">Prendas</h3>
									<h6 style="font-size: 12px;">Dise&ntilde;o</h6>
								  </div>
								  <a th:href="${'/prendas'}">
								  <div class="btn">
									  <i class="fas fa-arrow-right" style="font-size: 28px;color: #fff;margin-top: 5px;"></i>
								  </div>
								  </a>
								</div>
							</div>
						</div>
						<div class="form-group col-md-4" style="margin-top: 115px;">
							<div class="profile1">
								<div class="photo1"><img src="/dist/img/DisenoCatalogos.png"/></div>
								<div class="content1">
								  <div class="text1" style="font-family: Raleway, Microsoft JhengHei, Arial, sans-serif;">
									<h3 style="font-size: 20px;">Cat&aacute;logos</h3>
									<h6 style="font-size: 12px;">Dise&ntilde;o</h6>
								  </div>
								  <a th:href="${'/catalogos'}">
								  <div class="btn">
									  <i class="fas fa-arrow-right" style="font-size: 28px;color: #fff;margin-top: 5px;"></i>
								  </div>
								  </a>
								</div>
							</div>
						</div>
						<div class="form-group col-md-4" style="margin-top: 115px;">
							<div class="profile1">
								<div class="photo1"><img src="/dist/img/DisenoControl.png"/></div>
								<div class="content1">
								  <div class="text1" style="font-family: Raleway, Microsoft JhengHei, Arial, sans-serif;">
									<h3 style="font-size: 20px;">Prod. Muestras</h3>
									<h6 style="font-size: 12px;">Dise&ntilde;o</h6>
								  </div>
								  <a th:href="${'/catalogos'}">
								  <div class="btn">
									  <i class="fas fa-arrow-right" style="font-size: 28px;color: #fff;margin-top: 5px;"></i>
								  </div>
								  </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div th:insert="navegacion-footer"></div>
	</div>
	<div th:replace="navegacion-scripts"></div>
	<script>
		$('#iDashboard').removeClass('text-altima');
		$('#navDashboard').addClass('active-altima');
		$('#menuPushList').hide();
		(function () {
			$('.btn1').click(function () {
				$(this).toggleClass('active');
				return $('.box1').toggleClass('open1');
			});
		}).call(this);
	</script>
</body>

</html>