<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle">Configuraci&oacute;n de pedidos | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<div th:insert="navegacion-nav"></div>
		<!-- /.navbar -->
		<!-- Modal -->
		<div th:insert="navegacion-logout"></div>
		<!-- Main Sidebar Container -->
		<div th:insert="navegacion-aside"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Dashboard</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item altima">Altima</li>
								<li class="breadcrumb-item active">Dashboard</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- interactive chart -->
							<div class="card card-primary card-outline">
								<div class="card-header">
									<h3 class="card-title">
										<i class="far fa-chart-bar"></i>
										Interactive Area Chart
									</h3>

									<div class="card-tools">
										Real time
										<div class="btn-group" id="realtime" data-toggle="btn-toggle">
											<button type="button" class="btn btn-default btn-sm active"
												data-toggle="on">On</button>
											<button type="button" class="btn btn-default btn-sm"
												data-toggle="off">Off</button>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div id="interactive" style="height: 300px;"></div>
								</div>
								<!-- /.card-body-->
							</div>
							<!-- /.card -->

						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->

					<div class="row">
						<div class="col-md-6">
							<!-- Line chart -->
							<div class="card card-primary card-outline">
								<div class="card-header">
									<h3 class="card-title">
										<i class="far fa-chart-bar"></i>
										Line Chart
									</h3>

									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse"><i
												class="fas fa-minus"></i>
										</button>
										<button type="button" class="btn btn-tool" data-card-widget="remove"><i
												class="fas fa-times"></i>
										</button>
									</div>
								</div>
								<div class="card-body">
									<div id="line-chart" style="height: 300px;"></div>
								</div>
								<!-- /.card-body-->
							</div>
							<!-- /.card -->

							<!-- Area chart -->
							<div class="card card-primary card-outline">
								<div class="card-header">
									<h3 class="card-title">
										<i class="far fa-chart-bar"></i>
										Area Chart
									</h3>

									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse"><i
												class="fas fa-minus"></i>
										</button>
										<button type="button" class="btn btn-tool" data-card-widget="remove"><i
												class="fas fa-times"></i>
										</button>
									</div>
								</div>
								<div class="card-body">
									<div id="area-chart" style="height: 338px;" class="full-width-chart"></div>
								</div>
								<!-- /.card-body-->
							</div>
							<!-- /.card -->

						</div>
						<!-- /.col -->

						<div class="col-md-6">
							<!-- Bar chart -->
							<div class="card card-primary card-outline">
								<div class="card-header">
									<h3 class="card-title">
										<i class="far fa-chart-bar"></i>
										Bar Chart
									</h3>

									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse">
											<i class="fas fa-minus"></i>
										</button>
										<button type="button" class="btn btn-tool" data-card-widget="remove">
											<i class="fas fa-times"></i>
										</button>
									</div>
								</div>
								<div class="card-body">
									<div id="bar-chart" style="height: 300px;"></div>
								</div>
								<!-- /.card-body-->
							</div>
							<!-- /.card -->

							<!-- Donut chart -->
							<div class="card card-primary card-outline">
								<div class="card-header">
									<h3 class="card-title">
										<i class="far fa-chart-bar"></i>
										Donut Chart
									</h3>

									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse"><i
												class="fas fa-minus"></i>
										</button>
										<button type="button" class="btn btn-tool" data-card-widget="remove"><i
												class="fas fa-times"></i>
										</button>
									</div>
								</div>
								<div class="card-body">
									<div id="donut-chart" style="height: 300px;"></div>
								</div>
								<!-- /.card-body-->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:insert="navegacion-footer"></div>
	</div>
	<div th:replace="navegacion-scripts"></div>
	<script>
		$('#iDashboard').removeClass('text-altima');
		$('#navDashboard').addClass('active-altima');
	</script>
	<!-- FLOT CHARTS -->
	<script src="/plugins/flot/jquery.flot.js"></script>
	<script src="/plugins/flot-old/jquery.flot.resize.min.js"></script>
	<script src="/plugins/flot-old/jquery.flot.pie.min.js"></script>
	<script src="/dist/js/EstadisticasIndex.js"></script>
</body>

</html>