<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Maquila | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>
                                Inventario de activo fijo
                            </h1>
                        </div>
                        
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Producci&oacute;n</li>
                                <li class="breadcrumb-item active">Empalme de telas</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado
                                        <button  sec:authorize="hasAnyRole('ROLE_PRODUCCION_EMPALME_TELAS_AÑADIR_FOLIO','ROLE_ADMINISTRADOR')" onclick="nuevo()" class="btn btn-sm icon-btn btn-success text-white mr-auto" type="button"><span
                                            class="btn-glyphicon fas fa-plus img-circle text-success"></span>Nuevo
                                        </button>
                                        
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <table class="table tableEmpalme table-striped table-bordered display nowrap" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Clave</th>
                                                <th>Descripci&oacute;n</th>
                                                <th>Tipo</th>
                                                <th>Modelo</th>
                                                <th>Marca</th>
                                                <th>#Serie</th>
                                                <th>#Motor</th>
                                                <th>Fecha ingreso</th>
                                                <th>Fecha baja</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>

                                            
                                            <tr th:each="view, iview: ${view}">
                                                <td th:text="${view[1]}"></td>
                                                <td th:text="${view[2]}"></td>
                                                <td th:text="${view[3]}"></td>
                                                <td th:text="${view[4]}"></td>
                                                <td th:text="${view[5]}"></td>
                                                <td th:text="${view[6]}"></td>
                                                <td th:text="${view[7]}"></td>
                                                <td th:text="${view[8]}"></td>
                                                <td th:text="${view[9]}"></td>
                                                <td th:text="${view[10]}"></td>

                                                
                                                <td class="tdcenter">
                                                    <button th:onclick="|componentes('${view[0]}')|" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')" data-toggle="modal" data-target="#asignacionAgente" class="btn btn-secondary text-white btn-circle btn-sm popoverxd"
                                                        data-container="body" data-placement="top" data-content="Componentes"> <i class="fas fa-tools"></i>
                                                    </button>
                                                    <button th:onclick="|editar('${view[0]}')|" class="btn btn-warning btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" data-placement="top" data-content="Editar"><i class="fas fa-pen"></i></button>
                                                    <button th:if="${view[10]  == 'Activo'}" th:onclick="|estatus('${view[0]}',0)|" class="btn btn-danger btn-circle btn-sm btn-delete popoverxd" data-container="body" data-toggle="popover"
                                                        data-placement="top" data-content="Dar de baja"> <i class="fas fa-caret-down"></i>
                                                    </button>
                                                    <button th:if="${view[10]  == 'Inactivo'}" th:onclick="|estatus('${view[0]}',1)|" class="btn btn-success text-white btn-circle btn-sm btn-alta popoverxd" data-container="body" data-toggle="popover"
                                                        data-placement="top" data-content="Dar de alta"> <i class="fas fa-sort-up"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div th:insert="inventario-activo-fijo-modal-agregar"></div>

                                    <div th:insert="inventario-activo-fijo-modal-componentes"></div>
                                    
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:insert="navegacion-footer"></div>
    </div>
    <!-- ./wrapper -->
    <div th:replace="navegacion-scripts"></div>
    <script src="dist/js/tablaGeneralScroll.js"></script>
    <script th:src="@{/dist/js/inventario-activo-fijo.js}"></script>
	<script>

        
       
        $('#navMaquilaActivoFijo').addClass('active-altima');
        $('#menuMaquila').addClass('menu-open');

    </script>

</body>

</html>