<!-- Modal -->
<div class="modal fade" id="cambiarProveedor" tabindex="-1" role="dialog" aria-labelledby="cambiarProveedor"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title">Cambiar proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group col-md-12">
                        <label for="fechaPromesa">Proveedor</label>
                        <select class="form-control selectIva selectpicker" id="selectProveedor">
                            <option value="">Seleccione uno...</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto" type="button"><span
                            class="btn-glyphicon fas fa-times fa-lg img-circle text-danger"></span>Cancelar</button>
                    <button class="btn icon-btn btn-altima text-white" type="button" id="guardarProveedor"><span
                            class="btn-glyphicon fas fa-check img-circle text-altima"></span>Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>