<!-- Modal -->
<div class="modal fade" id="asignarChofer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Chofer a asignar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="">
        <div class="modal-body">
            <div class="row">
                  <div class="form-group col-md-12">
                    <label for="choferUnidad">Chofer</label>
                    <select class="form-control selectpicker" title="Selecciona uno..." data-live-search="true" data-live-search-normalize="true" id="choferUnidad">
                      <option value="1">Chofer 1</option>
                      <option value="1">Chofer 2</option>
                     </select>
                  </div>
            </div>
        </div>
        <div class="modal-footer modal-rounded-footer">
            <a data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto"><span
                class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
        <button type="button" class="btn icon-btn btn-altima text-white float-right"><span
                class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>