<!-- Modal -->
<div class="modal fade" id="nuevaUnidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Nueva unidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                  <div class="form-group col-md-4">
                    <label for="placaUnidad">No. placa</label>
                    <input type="text" class="form-control" placeholder="WDR-1236" id="placaUnidad" onkeyup="this.value = this.value.toUpperCase();">
                    <input id="idUnidad" type="hidden">
                    <input type="hidden" name="_csrf" id="token" th:value="${_csrf.token}" />
                 </div>
                  <div class="form-group col-md-4">
                    <label for="modeloUnidad">Modelo</label>
                    <input type="text" class="form-control" placeholder="Nissan" id="modeloUnidad" name="modelo">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="choferUnidad">Chofer asignado</label>
                    <select class="form-control selectpicker" title="Selecciona uno..." data-live-search="true" data-live-search-normalize="true" name="idEmpleado" id="choferUnidad">
                      <option th:each="puesto:${puestos}" th:value="${puesto[0]}" th:text="${puesto[1]}"></option>
                     </select>
                  </div>
            </div>
        </div>
        <div class="modal-footer modal-rounded-footer">
            <a data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto"><span
                class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
        <button onclick="addUnity()" type="button" class="btn icon-btn btn-altima text-white float-right"><span
                class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
        </div>
      </div>
    </div>
  </div>