<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Explosi&oacute;n de materiales | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper" id="app">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Materia prima&nbsp;<a th:href="${'/explosion-de-materiales'}"
                                    class="btn btn-sm icon-btn btn-danger text-white"><span
                                        class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Regresar</a>
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Comercial</li>
                                <li class="breadcrumb-item active">AMP</li>
                                <li class="breadcrumb-item active">Explosi&oacute;n de materiales</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de materia prima</h3>
                                    <div class="text-right">
                                        <button class="btn btn-primary" id="saveRollos" onclick="deleteRollos()"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table tablaGeneral table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Clave tela</th>
                                                <th>Descripci&oacute;n</th>
                                                <th>Surtir</th>
                                                <th>SPF</th>
                                                <th>Total</th>
                                                <th>Disponible</th>
                                                <th>Apartado</th>
                                                <th>Faltante</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each=" apartadoTela: ${apartadoTelas}">
                                                <td th:text="${apartadoTela.idText}"></td>
                                                <td th:text="${apartadoTela.nombreTela}"></td>
                                                <td th:text="${apartadoTela.consumo}"></td>
                                                <td th:text="${apartadoTela.spfConsumo}"></td>
                                                <td th:data-content="${#numbers.formatDecimal(apartadoTela.spfConsumo+apartadoTela.consumo,0,2)}" th:text="${#numbers.formatDecimal(apartadoTela.spfConsumo+apartadoTela.consumo,0,2)}"  th:id="'consumo-'+${apartadoTela.idTela}"></td>
                                                <td th:data-content="${apartadoTela.disponible}" th:text="${apartadoTela.disponible}" th:id="'disponible-'+${apartadoTela.idTela}"></td>
                                                <td th:data-content="${apartadoTela.apartado}" th:text="${apartadoTela.apartado}" th:id="'apartado-'+${apartadoTela.idTela}"></td>
                                                <td th:data-content="${#numbers.formatDecimal(apartadoTela.spfConsumo+apartadoTela.consumo-apartadoTela.apartado,0,2)}" th:text="${#numbers.formatDecimal(apartadoTela.spfConsumo+apartadoTela.consumo-apartadoTela.apartado,0,2)}" th:id="'faltante-'+${apartadoTela.idTela}">
                                                </td>
                                                <td th:text="${apartadoTela.spfConsumo+apartadoTela.consumo-apartadoTela.apartado}<=0?'Completo':'Faltante'">
                                                </td>
                                                <td class="text-center">
                                                    <button id="modalAlmacen" th:attr="onclick=|getExistenciaByAlmacen('${apartadoTela.idTela}')|" 
                                                        class="btn btn-success btn-sm btn-circle popoverxd" th:disabled="${apartadoTela.spfConsumo+apartadoTela.consumo-apartadoTela.apartado}<=0?'true':'False'"
                                                        data-placement="top" data-content="Stock general"><i
                                                            class="fas fa-store-alt"
                                                            style="margin-left: -3px;"></i></button>
                                                </td>
                                                <input type="hidden" name="items[]" th:value="${apartadoTela.idTela}">
                                            </tr>

                                        </tbody>
                                    </table>
                                    <button type="button" th:attr="onclick=|guardar('${idPedido}')|"  class="btn btn-primary">Guardar</button>
                                </div>
                                <div th:insert="materia-prima-almacen"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
        </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:insert="navegacion-footer"></div>
    </div>
    <div th:replace="navegacion-scripts"></div>
    <script src="/plugins/jquery/jquery.cookie.js"></script> 
    <script src="/dist/js/stockTableExplosion.js"></script>
    <script src="/dist/js/tablaGeneral.js"></script>
    <script src="/dist/js/explosionMateriaPrima.js"></script>
    <script>
        $('#iComercial').removeClass('text-altima');
        $('#navComercial').addClass('active-altima');
        $('#menuComercial').addClass('menu-open');
        $('#menuAMP').addClass('menu-open');
        $('#navAMP').addClass('active');
        $('#navAMPExp').addClass('active');
        $(document).on('click', '#modalAlmacen', function () {
            $('#materiaPrimaAlmacen').modal('show');
        });

        $(document).on('click', '#modalTomar', function () {
            $('#materiaPrimaAlmacenTomar').modal('show');
        });
    </script>
</body>

</html>