<!-- Modal -->
<div class="modal fade" id="traspasoAgente" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content modal-rounded-body">
      <div class="modal-header bg-altima modal-rounded-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Datos de traspaso</h5>
        <button type="button" class="close" data-target="#traspasoAgente" data-toggle="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
		<form>
	       <div class="modal-body row">
	           <div class="form-group col-sm-3 solicitud">
	               <label for="vendedorTraspasoCodigo" style="color:#212529">C&oacute;digo de traspaso</label>
	               <input type="number" class="form-control" id="vendedorTraspasoCodigo" placeholder="463729">
	           </div>
			   <div class="col-md-9">
				<label for="vendedorTraspasoCodigo" style="color:#212529">Muestra</label>
				<div class="input-group mb-3">
					<select class="form-control selectCustom" id="prendaTraspaso" title="Seleccione uno..." data-live-search="true">
					</select>
					<div class="input-group-append" style="margin-left: 10px;">
						<a type="submit" class="btn btn-altima btn-circle btn-sm" id="BotonAgregarMuestra" onclick="agregarMiniTablaTraspaso('tablaMuestraTraspaso')"  data-container="body" data-toggle="popover"  data-content="Agregar"><i class="fas fa-plus"></i></a>
					</div>
				  </div>
			   </div>
			   
	           <div class="form-group col-sm-12" id="crearTablaTraspaso">
		           <div class=" modal-body" id="borrarTablaTraspaso">
		               <table class="table table-striped table-bordered" id ="tablaMuestraTraspaso">
		                   <thead>
		                       <tr style="color:#212529">
		                           <th>C&oacute;digo de barras</th>
		                           <th>Prendas</th>
		                           <th>Modelo Prenda</th>
		                           <th>C&oacute;digo Tela</th>
		                           <th></th>
		                       </tr>
		                   </thead>
		               </table>
		           </div>
	           </div>
	       </div>
	       <div class="modal-footer modal-rounded-footer">
			   <button data-dismiss="modal" type="button" class="btn icon-btn btn-danger text-white mr-auto"><span class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</button>
			   <button type="button" onclick="traspasoSolicitud('tablaMuestraTraspaso')" class="btn icon-btn btn-altima text-white float-right"><span class="btn-glyphicon fas fa-paper-plane img-circle text-altima"></span>Enviar</button>
	        </div>
	    </form>
    </div>
  </div>
</div>


