<div class="modal fade" id="SeleccionPrograma" tabindex="-1" role="dialog" aria-labelledby="Formulario"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 40%;" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title">Selecci&oacute;n de proceso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                        	<div class="form-group col-md-12">
                           		<label for="">Seleccione un proceso</label>
                            </div>
                            <div class="form-group col-md-12">
                        		<select class="form-control selectpicker" data-live-search="true" title="Seleccione un proceso..." id="procesosActivos">
                        			<option th:each="proceso:${listProcesos}" th:text="${proceso[1]}" th:value="${proceso[0]}" th:descripcion="${proceso[2]}" th:proceso="${proceso[1]}" >
                        		</select>
                        	</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-rounded-footer">
                    <a class="btn btn-sm icon-btn btn-danger text-white mr-auto"><span class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
                    <button class="btn btn-sm icon-btn btn-altima text-white float-right" onclick="listarExplosionPorProceso()"><span class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
                </div>
        </div>
    </div>
</div>





<div class="modal fade" id="tablaExplosionPrendas" tabindex="-1" role="dialog" aria-labelledby="Formulario"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 75%;" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title">Prendas explosionadas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                           <label for="">Realiz&oacute;</label>
						   <button id="botonRealizo" disabled class="btn btn-sm icon-btn btn-altima text-white mr-auto" onclick="modalRealizo()"><span class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Realiz&oacute;</button>
						   <button class="btn btn-sm icon-btn btn-danger text-white mr-auto" onclick="cerrarTablaExplosionPrendas()"><span class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Regresar</button>
                        </div>
                    </div>
                    <table class="table requisicionTabla table-striped table-bordered" style="width: 100%;" id="tablaPrendasExplosionadas">
                        <thead>
                            <tr>
                            	<th class="text-center">
                                	<input type="checkbox" id="selectAll">
                                </th>
                                <th>Folio</th>
                                <th>Talla</th>
                                <th>Realiz&oacute;</th>
                                <th>Fecha inicio</th>
                                <th>Fecha fin</th>
                                <th>Ubicaci&oacute;n</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>






<div class="modal fade" id="modalConsumoReal" tabindex="-1" role="dialog" aria-labelledby="Formulario"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title">Consumo real</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                	<div class="row">
                        <div class="form-group col-md-12">
                           <label for="">Realiz&oacute;</label>
						   <button class="btn btn-sm icon-btn btn-danger text-white mr-auto" onclick="cerrarTablaConsumoReal()"><span class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Regresar</button>
                        </div>
                    </div>
                    <table class="table tablaGeneral table-striped table-bordered" style="width: 100%;" id="tablaConsumoReal">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Descripci&oacute;n</th>
                                <th>Tipo</th>
                                <th>Consumo real</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Clave</td>
                                <td>Descripci&oacute;n</td>
                                <td>Tipo</td>
                                <td>Consumo real</td>
                                <td>Acciones</td>
                            </tr>
                            
                        </tbody>
                        
                    </table>
               </div>
        </div>
    </div>
</div>





<div class="modal fade" id="modalRealizo" tabindex="-1" role="dialog" aria-labelledby="Formulario"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 30%;" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title">Realiz&oacute;</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                	<div class="row">
                        <div class="form-group col-md-12">
						   <button class="btn btn-sm icon-btn btn-danger text-white mr-auto" onclick="cerrarTablaConsumoReal()"><span class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Regresar</button>
                        </div>
                        <div class="form-group col-md-12">
                           <label for="">Realiz&oacute;</label>
                           <select class="form-control selectpicker" data-live-search="true" title="Seleccione un proceso..." id="selectQuienRealizo">
                           </select>
                        	
                        	<label for="">Fecha inicio</label>
                        	<input type="datetime-local" class="form-control" id="fechaInicioModal">
                        	
                        	<label for="">Fecha fin</label>
                        	<input type="datetime-local" class="form-control" id="fechaFinModal">
                        </div>
                    </div>
               </div>
               <div class="modal-footer modal-rounded-footer">
                    <a class="btn btn-sm icon-btn btn-danger text-white mr-auto"><span class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
                    <button onclick="guardarRealizo()" class="btn btn-sm icon-btn btn-altima text-white float-right" ><span class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
               </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalEditarConsumoReal" tabindex="-1" role="dialog" aria-labelledby="Formulario"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 30%;" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title">Consumo real</h5>
                
            </div>
                <div class="modal-body">
                	<div class="row">
                        
                        <div class="form-group col-md-12">
                           
                        	
                        	<label for="consumoReal">Consumo real</label>
                            <input type="text" class="form-control" id="consumoReal">
                            <input type="hidden" class="form-control" id="idconsumoReal">
                        </div>
                    </div>
               </div>
               <div class="modal-footer modal-rounded-footer">
                  
                    <button onclick="guardarEditarConsumoReal()" class="btn btn-sm icon-btn btn-altima text-white float-right" ><span class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
               </div>
        </div>
    </div>
</div>