<!-- Modal -->
<div class="modal fade" id="modalUbicacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header bg-altima">
				<h5 class="modal-title" id="exampleModalLongTitle">Ubicaci&oacute;n de almac&eacute;n</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
			</div>
			<div class="modal-body">
				<table class="table tablaGeneral table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							<th colspan="2" class="text-center">Almac&eacute;n 126</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th style="width:50%">Pasillo</th>
							<td style="width:50%">2</td>
						</tr>
						<tr>
							<th>Anaquel 3-D</th>
							<td>2</td>
						</tr>
						<tr>
							<th>Rack</th>
							<td>4</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>