<!-- Modal -->
<div class="modal fade" id="modalCantidadRepuesto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header modal-rounded-header bg-altima">
          <h5 class="modal-title" id="exampleModalLongTitle">Cantidad de material de repuesto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="form-group col-md-12">
                  <label>Cantidad</label>
                  <div class="input-group mb-3">
                      <input class="form-control" type="number" id="cantidadRepuestoInput">
                      <div class="input-group-append" style="margin-left: 10px;">
                           <button type="button" id="agregarCantidadRepuesto" class="btn icon-btn btn-altima text-white"><span class="btn-glyphicon spancircle fas fa-plus img-circle text-altima"></span>Agregar</button>
                     </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>