<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>




<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script>
<!-- Datatables Plugin-->
<script th:src="@{/dist/js/jquery.dataTables.min.js}"></script>
<!-- Bootstrap Datatables Plugin-->
<script th:src="@{/dist/js/dataTables.bootstrap4.min.js}"></script>
<!-- Datatables Responsive Mobile-->
<script th:src="@{/dist/js/dataTables.fixedHeader.min.js}"></script>
<script th:src="@{/dist/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/dist/js/responsive.bootstrap.min.js}"></script>
<script th:src="@{/dist/js/dataTables.fixedColumns.min.js}"></script>
<script th:src="@{/dist/js/custom.js}"></script>
<script th:src="@{/dist/js/bootstrap-select.min.js}"></script>
<script th:src="@{/dist/js/sweetalert.js}"></script>
<script th:src="@{/dist/js/asideHover.js}"></script>
<script th:src="@{/dist/js/dark-mode-switch.min.js}"></script>
<script th:src="@{/dist/js/accent-neutralise.js}"></script>
<script th:src="@{/dist/js/notifications.js}"></script>
<script th:src="@{/dist/js/jquery.cookie.js}"></script>
<script th:src="@{/dist/js/changeColor.js}"></script>

<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>  
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>

