<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-altima" style="height:50px;">
          <h5 class="modal-title" id="exampleModalLongTitle" style="margin-top: -5px;">Cerrar sesi&oacute;n</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -19px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Deseas cerrar sesi&oacute;n?
          
        </div>
        <form id="logoutForm" th:action="@{/logout}" method="post">
        <div class="modal-footer">
			<a data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto" type="submit"><span class="btn-glyphicon spancircle fas fa-times fa-lg img-circle text-danger"></span>Cancelar</a>
			<a class="btn icon-btn btn-altima text-white" onclick="document.getElementById('logoutForm').submit();" type="submit"><span class="btn-glyphicon spancircle fas fa-check  img-circle text-altima"></span>Confirmar</a>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="cambiarColor" tabindex="-1" role="dialog" aria-labelledby="cambiarColorTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:41.3%">
    <div class="modal-content modal-rounded-body">
      <div class="modal-header bg-altima modal-rounded-header">
        <h5 class="modal-title" id="colorTitle">Colores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="btn-group" role="group" aria-label="Basic example">
              <button id="colorDefaultAltima" type="button" class="btn icon-btn btn-altima text-white"><span class="btn-glyphicon fas fa-fill-drip img-circle text-altima"></span>Azul</button>&nbsp;
              <button id="colorRedAltima" type="button" class="btn icon-btn btn-danger text-white"><span class="btn-glyphicon fas fa-fill-drip img-circle text-danger"></span>Rojo</button>&nbsp;
              <button id="colorGreenAltima" type="button" class="btn icon-btn btn-success text-white"><span class="btn-glyphicon fas fa-fill-drip img-circle text-success"></span>Verde</button>&nbsp;
              <button id="colorYellowAltima" type="button" class="btn icon-btn btn-warning text-dark"><span class="btn-glyphicon fas fa-fill-drip img-circle text-warning"></span>Amarillo</button>&nbsp;
              <button id="colorGrayAltima" type="button" class="btn icon-btn btn-secondary text-white"><span class="btn-glyphicon fas fa-fill-drip img-circle text-secondary"></span>Gris&aacute;ceo</button>
            </div>
      </div>
    </div>
  </div>
</div>