<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
   <title id="pageTitle">Carga de pedidos | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
   <!-- Site wrapper -->
   <div class="wrapper">
      <!-- Navbar -->
      <div th:insert="navegacion-nav"></div>
      <!-- /.navbar -->
      <!-- Modal -->
      <div th:insert="navegacion-logout"></div>
      <!-- Main Sidebar Container -->
      <div th:insert="navegacion-aside"></div>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
         <!-- Content Header (Page header) -->
         <section class="content-header">
            <div class="container-fluid">
               <div class="row mb-2">
                  <div class="col-sm-6">
                     <h1>
                        Cambio de prenda
                     </h1>
                  </div>
                  <div th:insert="modal-carga-pedido"></div>
                  <div class="col-sm-6">
                     <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item altima">Altima</li>
                        <li class="breadcrumb-item active">Comercial</li>
                        <li class="breadcrumb-item active">Agentes de Venta</li>
                        <li class="breadcrumb-item active">Carga de Pedidos</li>
                     </ol>
                  </div>
               </div>
            </div>
            <!-- /.container-fluid -->
         </section>
         <!-- Main content -->
         <section class="content">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-12">
                     <!-- Default box -->
                     <div class="card">
                        <div class="card-header bg-altima">
                           <h3 class="card-title">Lista de pedidos cerrados</h3>
                        </div>
                        <div class="card-body">
                           <table class="table tablaGeneral table-striped table-bordered">
                              <thead>
                                 <tr>
                                    <th>Folio</th>
                                    <th>Empresa</th>
                                    <th>Fecha de entrega</th>
                                    <th>Monto Descuento</th>
                                    <th>Acciones</th>
                                 </tr>
                              </thead>
                              <tbody>

                                 <tr th:each="pedidos: ${pedidos}">
                                    <td th:text="${pedidos[1]}"></td>
                                    <td th:text="${pedidos[2]}"></td>
                                    <td th:text="${pedidos[3]}"></td>


                                    <td th:if="${pedidos[6]==0}"> Sin monto</td>
                                    <td th:if="${pedidos[6]!=0}"> Monto Existente</td>

                                    <td class="text-center">

                                       <a  th:href="@{/detalle-coordinados/}+${pedidos[0]}"class="btn btn-warning popoverxd" data-container="body"
                                             data-placement="top" data-content="Cambio de prenda">
                                             <i class="fas fa-person-booth"></i>
                                       </a>
                                    
                                       


                                      
            
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <!-- /.card-body -->
                     </div>
                     <!-- /.card -->
                  </div>
               </div>
            </div>
         </section>
         <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <div th:insert="navegacion-footer"></div>
   </div>
   <!-- ./wrapper -->
   <div th:replace="navegacion-scripts"></div>
   <script src="dist/js/tablaGeneral.js"></script>
   <script src="plugins/moment/moment.min.js"></script>
   <script src="dist/js/CargaPedido.js"></script>
   <script>

   </script>
   <script th:if="${icon != null}" th:inline="javascript">
      Swal.fire({
         position: 'center',
         //icon: /*[[${icon}]]*/,
         //title: /*[[${title}]]*/,
         showConfirmButton: false,
         timer: 1250
      });
   </script>
   <script>
      $('#iComercial').removeClass('text-altima');
      $('#menuComercial').addClass('menu-open');
      $('#navComercial').addClass('active-altima');
      $('#menuVenta').addClass('menu-open');
      $('#navVenta').addClass('active');
      $('#navVenta4').addClass('active');
   </script>
</body>

</html>