<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
  <title id="pageTitle"> Precios de prenda | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <div th:insert="navegacion-nav"></div>
    <!-- /.navbar -->
    <!-- Modal -->
    <div th:insert="navegacion-logout"></div>
    <!-- Main Sidebar Container -->
    <div th:insert="navegacion-aside"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Prendas&nbsp;<a th:href="${'/lista-precios/'}+${id}"><button class="btn btn-danger btn-circle btn-sm popoverxd"
                    data-container="body" data-toggle="popover" data-placement="right" data-content="Regresar"><i
                      class="fas fa-arrow-left"></i></button></a></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item altima">Altima</li>
                <li class="breadcrumb-item active">Dise&ntilde;o</li>
                <li class="breadcrumb-item active">Prendas</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header bg-altima">

              <h5 class="card-title" th:text="'Precio prenda '+${idText}"></h5>

            </div>
            <div class="card-body">
              <form class="row" th:object="${precio}" method="POST" th:action="@{/guardar-precio-prenda}">
                <div class="form-group col-md-3">
                  <label for="precioLocalNuevo">Local actual</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioLocalNuevo}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioLocalNuevo">
                  </div>
                </div>

                <div class="form-group col-md-3">
                  <label for="precioLocalAntiguo">Local anterior</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioLocalAntiguo}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioLocalAntiguo">
                  </div>
                </div>

                <div class="form-group col-md-3">
                  <label for="precioForaneNuevo">For&aacute;neo actual</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioForaneoNuevo}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioForaneNuevo">
                  </div>
                </div>

                <div class="form-group col-md-3">
                  <label for="precioForaneoAntiguo">For&aacute;neo anterior</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioForaneoAntiguo}" required min="0.00" max="10000.00" step="0.01"
                      type="number" class="form-control" id="precioForaneoAntiguo">
                  </div>
                </div>

                <div class="form-group col-md-3">
                  <label for="precioLineaExpressLocalNuevo">L&iacute;nea express local actual</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioLineaExpressLocalNuevo}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioLineaExpressLocalNuevo">
                  </div>
                </div>

                <div class="form-group col-md-3">
                  <label for="precioLocalAntiguo">L&iacute;nea express local anterior</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioLineaExpressLocalAnterior}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioLineaExpressLocalAnterior">
                  </div>
                </div>

                <div class="form-group col-md-3">
                  <label for="precioForaneNuevo">L&iacute;nea express for&aacute;neo actual</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioLineaExpressForaneoNuevo}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioLineaExpressForaneoNuevo">
                  </div>
                </div>

                <div class="form-group col-md-3">
                  <label for="precioForaneoAntiguo">L&iacute;nea express for&aacute;neo anterior</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioLineaExpressForaneoAnterior}" required min="0.00" max="10000.00" step="0.01"
                      type="number" class="form-control" id="precioLineaExpressForaneoAnterior">
                  </div>
                </div>
                <!-- <div class="form-group col-md-3">
                  <label for="exampleInputPassword1">Precio maquila</label>
                  <input th:field="*{precioMaquila}" min="0.00" max="10000.00" step="0.01" type="number" class="form-control" id="exampleInputPassword1">
                </div>
                 -->
                <div class="form-group col-md-4">
                  <label for="precioMuestrario">Muestrario</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioMuestrario}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioMuestrario">
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="precioInterna">Venta interna</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioVentaInterna}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioInterna">
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="precioMuestrario">Familia de composición</label>
                  <div class="input-group mb-3">
                    <select th:field="*{idFamiliaComposicion}" class="form-control" required>
                      <option value="">Seleccione uno...</option>
                      <option th:each=" composicion: ${composiciones}" th:text="${composicion[0]}" th:value="${composicion[1]}"></option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label for="precioInterna">Precio e-commerce</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioEcommerce}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioInterna">
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label for="precioInterna">Precio extra 1</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioExtra1}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioInterna">
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label for="precioInterna">Precio extra 2</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioExtra2}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioInterna">
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label for="precioInterna">Precio extra 3</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{precioExtra3}" required min="0.00" max="10000.00" step="0.01" type="number"
                      class="form-control" id="precioInterna">
                  </div>
                </div>
                <input type="hidden" th:field="*{idPrenda}">
                <input type="hidden" th:field="*{idListaPrecioPrenda}">
                <input type="hidden" th:field="*{creadoPor}">
                <input type="hidden" th:field="*{costoMaquila}">
                <input type="hidden" th:field="*{costoMaquilaMuestra}">
                <div class="form-group col-sm-12">
                  <a th:href="@{'/prendas'}" class="btn icon-btn btn-danger text-white mr-auto"><span
                      class="btn-glyphicon spancircle fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
                  <button class="btn icon-btn btn-altima text-white float-right" type="submit"><span
                      class="btn-glyphicon spancircle fas fa-save img-circle text-altima"></span>Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </section>
    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <div th:insert="navegacion-footer"></div>
  </div>
  <div th:replace="navegacion-scripts"></div>
  <script>
    $(function () {
      $('.popoverxd').popover({
        container: 'body',
        trigger: 'hover'
      })
    })
  </script>
  <script>
    $(document).ready(function () {
      $('.selectpicker').selectpicker({
        style: 'border border-bootstrap'
      });
    });
  </script>
  <script src="/dist/js/precio.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${PrecioPrenda}]]*/ 'default';
    /*]]>*/
    console.log(message);
  </script>
 <script th:if="${icon != null}" th:inline="javascript">
  Swal.fire({

    position: 'center',
    icon: /*[[${icon}]]*/ 'default',
    title: /*[[${title}]]*/ 'default',
    showConfirmButton: false,
    timer: 2500
  });
</script>
</body>

</html>