<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Produccion-prendas | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <input type="hidden" name="_csrf" id="token" th:value="${_csrf.token}" />
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Prendas&nbsp;</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Dise&ntilde;o</li>
                                <li class="breadcrumb-item active">Prendas</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de prendas</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table tablaGeneral table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Modelo</th>
                                                <th>Descripci&oacute;n</th>
                                                <th>Tipo</th>
                                                <th>Ruta</th>
                                                <th
                                                    sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_DISENIO_PRENDAS_REGRESAR_PRODUCCION','ROLE_DISENIO_PRENDAS_CONFIRMAR_PRODUCCION')">
                                                    Estatus Producci&oacute;n</th>
                                                <th
                                                    sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_DISENIO_PRENDAS_REGRESAR_PRODUCCION','ROLE_DISENIO_PRENDAS_CONFIRMAR_PRODUCCION')">
                                                    Fecha Recepcion</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="prenda:${prendas}"
                                                th:unless="${prenda.prendaLocal == '0' and prenda.estatusRecepcionMuestra=='Prospecto'}">
                                                <td th:text="${prenda.idText}"></td>
                                                <td th:text="${prenda.descripcionPrenda}"></td>
                                                <td>
                                                    <p th:text="${prenda.tipoPrenda}"></p>
                                                </td>
                                                <td th:text="${prenda.idRuta==null?'Sin ruta':prenda.nombreRuta}"></td>
                                                <td th:if="${prenda.fechaRecepcionProduccion}=='Sin Fecha'"
                                                    th:text="${prenda.mostrar}==true?'Recibida':'Diseño'"></td>
                                                <td th:if="${prenda.fechaRecepcionProduccion}!='Sin Fecha'"
                                                    th:text="${prenda.mostrar}==true?'Recibida':'Devolución diseño'">
                                                </td>
                                                <td
                                                    th:text="${prenda.mostrar}==true?${prenda.fechaRecepcionProduccion}:${prenda.fechaDevolucionProduccion}">
                                                </td>
                                                <td class="tdcenter">
                                                    <a th:href="@{'/view-prenda/' + ${prenda.idPrenda}}"
                                                        class="btn btn-info btn-circle btn-sm popoverxd"
                                                        data-container="body" data-toggle="popover" data-placement="top"
                                                        data-content="Ver detalles"><i class="fas fa-info"></i></a>
                                                    <button th:if="${prenda.mostrar!=true}"
                                                        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_DISENIO_PRENDAS_REGRESAR_PRODUCCION')"
                                                        th:attr="onclick=|recibirProduccion('${prenda.idPrenda}','${prenda.mostrar}','${prenda.idRuta}')|"
                                                        data-container="body" data-toggle="popover" data-placement="top"
                                                        data-content="Recibir prenda"
                                                        class="btn-success btn btn-error btn-circle btn-sm popoverxd"><i
                                                            class="fas fa-check"></i></button>
                                                    <button th:if="${prenda.mostrar==true}"
                                                        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_DISENIO_PRENDAS_REGRESAR_PRODUCCION')"
                                                        th:attr="onclick=|recibirProduccion('${prenda.idPrenda}','${prenda.mostrar}')|"
                                                        data-container="body" data-toggle="popover" data-placement="top"
                                                        data-content="Regresar prenda"
                                                        class=" btn-danger btn btn-error btn-circle btn-sm popoverxd"><i
                                                            class="fas fa-undo"></i></button>
                                                    <button data-toggle="modal" data-target="#modalRutas"
                                                        th:attr="onclick=|listRutas('${prenda.idPrenda}','${prenda.idRuta}')|"
                                                        data-placement="top" data-content="Asignar ruta"
                                                        class="btn btn-error btn-info btn-circle btn-sm popoverxd"><i
                                                            class="fas fa-route"></i></button>
                                                    <button data-toggle="modal" data-target="#modalPrendaHistorico"
                                                        th:attr="onclick=|listHistorico('${prenda.idPrenda}')|"
                                                        data-placement="top" data-content="Historico"
                                                        class="btn btn-secondary btn-circle btn-sm popoverxd"><i
                                                            class="fas fa-history"></i></button>
                                                    <button th:attr="onclick=|revisarPrenda('${prenda.idPrenda}')|"
                                                        class="btn btn-dark btn-circle btn-sm popoverxd"
                                                        data-container="body" data-toggle="popover" data-placement="top"
                                                        data-content="Revisar prenda"><i class="fas fa-clipboard-check"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:insert="modal-prendas-rutas"></div>
        <div th:insert="navegacion-footer"></div>
    </div>

    <div th:replace="navegacion-scripts"></div>
    <script src="dist/js/tablaGeneral.js"></script>
    <script src="dist/js/produccionPrendas.js"></script>

    <script>
        $('#iDiseno').removeClass('text-altima');
        $('#navDiseno').addClass('active-altima');
        $('#menuDiseno').addClass('menu-open');
        $('#navDiseno3').addClass('active');
        /***
         *
         * FUNCION DE MODAL
         *
         ***/

        function ModalConfirmarPrenda(id) {
            Swal.fire({
                title: "¿Deseas confimar la prenda?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#0288d1',
                cancelButtonColor: '#dc3545',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    var token = $('#token').val();
                    $('#BloquearConfirmar').prop('disabled', true);
                    console.log(token);
                    $.ajax({
                        type: "GET",
                        url: "/confirmar_prenda",
                        data: {
                            "_csrf": token,
                            "id": id
                        },
                        success: (data) => {
                            console.log(data);
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Prenda confirmada correctamente',
                                showConfirmButton: false,
                                timer: 2500
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2500);
                        },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
                }
            });
        }




        function ModalAltaPrenda(id) {

            Swal.fire({
                title: "¿Deseas dar de alta la prenda?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#0288d1',
                cancelButtonColor: '#dc3545',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    var token = $('#token').val();
                    $('#BloquearAlta').prop('disabled', true);
                    console.log(token);
                    $.ajax({
                        type: "GET",
                        url: "/alta_baja_prenda",
                        data: {
                            "_csrf": token,
                            "id": id
                        },
                        success: (data) => {
                            console.log(data);
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Prenda dada de alta correctamente',
                                showConfirmButton: false,
                                timer: 2500
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2500);
                        },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
                }
            });
        }


        function ModalBajaPrenda(id) {
            Swal.fire({
                title: "¿Deseas dar de baja la prenda?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#0288d1',
                cancelButtonColor: '#dc3545',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    var token = $('#token').val();
                    $('#BloquearBaja').prop('disabled', true);
                    console.log(token);
                    $.ajax({
                        type: "GET",
                        url: "/alta_baja_prenda",
                        data: {
                            "_csrf": token,
                            "id": id
                        },
                        success: (data) => {
                            console.log(data);
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Prenda dada de baja correctamente',
                                showConfirmButton: false,
                                timer: 2500
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2500);
                        },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
                }
            });
        }
    </script>
    <script th:inline="javascript">
        const rutas =/*[[${rutas}]]*/ 'default';
        console.log(rutas);


    </script>
    <!-- <script th:if="${ifRutas==true}" th:inline="javascript">
        console.log("hola")
        Swal.fire({

            position: 'center',
            icon: 'warning',
            title: 'Asignar todas la rutas de las prendas',
            showConfirmButton: true,
        });
    </script> -->
</body>

</html>