<div class="small-box bg-primary">
    <div class="inner">
        <h3>Rutas de producci&oacute;n</h3>
        <button data-toggle="modal" data-target="#detalleRuta" id="modalRutas" class="btn btn-link text-white" style="padding-left: 1px;"><i class="fas fa-info-circle"></i> Detalle</button>
    </div>
    <div class="icon">
        <i class="ion ion-ios-pricetags-outline"></i>
    </div>
    <a class="small-box-footer">
        <button onclick="addRuta()" class="btn btn-link text-white">Agregar <i class="fas fa-plus-circle"></i></button>
    </a>
</div>
<!-- Modal Marcas Tabla -->
<div class="modal fade" id="detalleRuta" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" id="modalMarcasMobile">
        <div class="modal-content modal-rounded-body" id="contenedorTabla">
            <div class="modal-header bg-primary modal-rounded-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Listado de rutas <button onclick="addRuta()" class="btn btn-light btn-circle btn-sm text-danger popoverxd" data-container="body" data-toggle="popover" data-placement="right" data-content="Agregar"><i class="fas fa-plus fa-sm"></i></button>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <table id ="tableRuta" class="table table-striped table-bordered tablaCatalogosProduccion" style="width:100%;">
                    <thead>
                        <tr>
                        	<th>Clave Ruta</th>
                        	<th>Nombre Ruta</th>
                            <th>Procesos</th>
                            <th>Acciones</th>
                           <!--  <th></th>--->
                        </tr>
                    </thead>
                 	<tbody>
                 		 <!--<tr>
                 			<td>1</td>
                 			<td>1</td>
                 			<td class="text-center">
                 				<button class="btn btn-primary btn-circle btn-sm popoverxd" id="modalDetalles" data-container="body" data-toggle="modal" data-target="#infoProcesos" data-placement="top" data-content="Ver procesos"><i class="fas fa-cog"></i></button>
							</td>
                 			<td class="text-center">
								<button class="btn btn-info btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content="<strong>Creado por: </strong>Manuel Perez <br /><strong>Fecha de creación: </strong>20/12/2019<br><strong>Modificado por: </strong>Jose luis<br><strong>Fecha de modicación: </strong>21/02/2020"><i class="fas fa-info"></i></button>
								<button class="btn btn-warning btn-circle btn-sm popoverxd" onclick="editRuta()" data-container="body" data-toggle="popover" data-placement="top" data-content="Editar"><i class="fas fa-pen"></i></button>
								<button class="btn btn-danger btn-circle btn-sm popoverxd" onclick="deleteRuta()" data-container="body" data-toggle="popover" data-placement="top" data-content="Dar de baja"><i class="fas fa-caret-down"></i></button>
								<button class="btn btn-success btn-circle btn-sm popoverxd" onclick="reactiveRuta()" data-container="body" data-toggle="popover" data-placement="top" data-content="Reactivar"><i class="fas fa-caret-up"></i></button>
							</td>
                 		</tr>--->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Marcas Tabla -->
<div class="modal fade" id="addRuta" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 40%;" role="document" id="modalMarcasMobile">
        <div class="modal-content modal-rounded-body" id="contenedorTabla">
            <div class="modal-header bg-primary modal-rounded-header">
                <h5  id="exampleModalLongTitle" aling="center">Nueva ruta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-5">
                        <label>Nombre</label>
                        <div class="input-group mb-3">
                            <input type="text" id="nombreRuta" name="nombreRuta" class="form-control" placeholder="Ruta" >
                            <input type="hidden" id="idLookupRuta" name="idLookupRuta" class="form-control" placeholder="Ruta" >
                        </div>
                    </div>
                    <div class="form-group col-sm-7">
                        <label>Proceso</label>
                        <div class="input-group mb-3">
                          <select  class="form-control selectpicker" title="Selecciona uno..." data-live-search="true" data-live-search-normalize="true" id="proceso" name="proceso">
                          </select>
                            <div class="input-group-append">
                              <button class="btn btn-sm icon-btn btn-altima text-white float-right" id="boton-add-proceso" disabled onclick="agregarProceso()" type="button"><span class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Agregar</button>
                            </div>
                        </div>
                    </div>

                </div>
               
                <table class="table table-striped table-bordered tablaProcesos" style="width:100%;" id="tablaProcesos" >
                    <thead>
                        <tr>
                            <th>Proceso</th>
                            <th>Descripci&oacute;n</th>
                            <th>Proceso</th>
                            <th>Eliminar</th>
                           <!--  <th></th>--->
                        </tr>
                    </thead>
                 	<tbody>
                 	
                    </tbody>
                </table>
               

                <div class="modal-footer modal-rounded-footer">
                    <button class="btn btn-danger mr-auto" data-dismiss="modal" aria-label="Close" >Cancelar</button>
                    <button class="btn btn-primary" id="botonGuardarRuta"onclick="guardarRuta()">Guardar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal Marcas Tabla -->
<div class="modal fade" id="infoProcesos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 40%;" role="document" id="modalMarcasMobile">
        <div class="modal-content modal-rounded-body" id="contenedorTabla">
            <div class="modal-header bg-primary modal-rounded-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Listado de procesos
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <table id="tableListaProcesos" class="table table-striped table-bordered tablaCatalogosProduccion" style="width:100%;">
                    <thead>
                        <tr>
                        	<th>Proceso</th>
                           <!--  <th></th>--->
                        </tr>
                    </thead>
                 	<tbody>
                 		
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>