<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Programar Telas | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>
                                Programar Telas
                            </h1>
                        </div>
                        <div th:insert="empalme-telas-folio"></div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Producci&oacute;n</li>
                                <li class="breadcrumb-item active">Empalme de telas</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de empalme
                                        <button th:if="${load}=='empalme'"
                                            sec:authorize="hasAnyRole('ROLE_PRODUCCION_EMPALME_TELAS_AÑADIR_FOLIO','ROLE_ADMINISTRADOR')"
                                            onclick="nuevoFolio()"
                                            class="btn btn-sm icon-btn btn-success text-white mr-auto"
                                            type="button"><span
                                                class="btn-glyphicon fas fa-plus img-circle text-success"></span>Secuencia
                                        </button>
                                        <button th:if="${load}=='programar'"
                                            sec:authorize="hasAnyRole('ROLE_PRODUCCION_EMPALME_TELAS_AÑADIR_PROGRAMA','ROLE_ADMINISTRADOR')"
                                            onclick="nuevoPrograma()"
                                            class="btn btn-sm icon-btn btn-secondary text-white mr-auto"
                                            type="button"><span
                                                class="btn-glyphicon fas fa-plus img-circle text-secondary"></span>Programa
                                        </button>
                                        <button th:if="${load}=='programar'" disabled
                                            sec:authorize="hasAnyRole('ROLE_PRODUCCION_EMPALME_TELAS_AÑADIR_RUTA','ROLE_ADMINISTRADOR')"
                                            onclick="nuevaRuta()"
                                            class="btn btn-sm icon-btn btn-danger text-white mr-auto"
                                            type="button"><span
                                                class="btn-glyphicon fas fa-plus img-circle text-danger"></span>Ruta
                                        </button>


                                    </h3>
                                </div>
                                <div class="card-body">
                                    <table class="tablaGeneral display compact" id="tablaProgramarTelas"
                                        style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th> <input type="checkbox" id="selectAll"> </th>
                                                <th>Pedido</th>
                                                <th>Fecha_de_entrega</th>
                                                <th>Coord.</th>
                                                <th>Prenda</th>
                                                <th>Modelo</th>
                                                <th th:if="${load}=='programar'">Personalizaci&oacute;n</th>
                                                <th th:if="${load}=='programar'">Ruta</th>
                                                <th th:if="${load}=='programar'">Programa</th>


                                            </tr>
                                        </thead>
                                    </table>
                                    <div th:insert="empalme-telas-detalle"></div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:insert="navegacion-footer"></div>
    </div>
    <!-- ./wrapper -->
    <div th:replace="navegacion-scripts"></div>
    <script src="dist/js/tablaGeneral.js"></script>
    <script src="dist/js/EmpalmeTelas.js"></script>
    <script>
        $(document).ready(function () {
            $("#modalPedido").modal("show");
        });
    </script>
    <script>
        $('#iProduccion').removeClass('text-altima');
        $('#menuProduccion').addClass('menu-open');
        $('#navProduccion').addClass('active-altima');
        $('#navProEmp').addClass('active');
    </script>

</body>

</html>