<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Inventario | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Agregar provedor <a th:href="@{/inventario-amp}"><button class="btn btn-danger btn-circle btn-sm popoverxd" data-container="body" data-placement="right" data-content="Regresar"><i class="fas fa-arrow-left"></i></button></a>       
                            
                            <button onclick="agregarProveedor()" data-target="#agregarProveedor" data-toggle="modal" class="btn btn-altima btn-circle btn-sm popoverxd" data-container="body" data-placement="right" data-content="Agregar"><i class="fas fa-plus"></i></button></h1>
                        </div>
                        <div th:insert="modal-amp-inventario-proveedor-precio"></div>
                        <div th:insert="modal-historico-proveedor-precio"></div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Comercial</li>
                                <li class="breadcrumb-item active">AMP</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary card-tabs">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Precios del proveedor</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table addProveedores table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Clave interna</th>
                                                <th>Clave proveedor</th>
                                                <th>Proveedor</th>
                                                <th>Costo unitario actual</th>
                                                <th>Tiempo de surtido(d&iacute;as)</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="view, icli: ${view}">
                                        
                                        <td th:text="${view[2]}"></td>
                                        <td th:text="${view[3]}"></td>
                                        <td th:text="${view[4]}"></td>
                                        <td th:text="${view[5]}"></td>
                                        <td th:text="${view[6]}"></td>
                                        <td class="text-center">
                                                    <button class="btn btn-danger btn-circle btn-sm popoverxd" th:onclick="|baja('${view[0]}')|"	 data-container="body" data-placement="top" data-content="Dar de baja"><i class="fas fa-caret-down"></i></button>
                                                    <button class="btn btn-warning btn-circle btn-sm popoverxd" th:id="${view[0]}" th:idProveedor="${view[1]}" th:ClaveInt="${view[2]}" th:Precio="${view[5]}" th:dias="${view[6]}"  onclick="editar(this);"  data-target="#agregarProveedor" data-toggle="modal" data-container="body" data-placement="top" data-content="Editar"><i class="fas fa-pen"></i></button>
                                                    <button class="btn btn-success btn-circle btn-sm popoverxd" th:id="${view[0]}" onclick="precios(this);"  data-target="#historicoPrecios" data-toggle="modal" data-container="body" data-placement="top" data-content="Ver hist&oacute;rico de precios"><i class="fas fa-dollar-sign"></i></button>
                                                </td>
                                        </tr>
                                            
                                        </tbody>
                                    </table>
                                    
                                    <input type="hidden" th:value="${id_proovedor_pricipal}" id="id_proovedor_pricipa"  name="id_proovedor_pricipa" >
                                    
                                    <input type="hidden" th:value="${id_proovedor_pricipal_clave}" id="id_proovedor_pricipa_clave"  name="id_proovedor_pricipa_clave" >
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:insert="navegacion-footer"></div>
    </div>
    <div th:replace="navegacion-scripts"></div>
    <script src="/dist/js/tablaAMPInvAdd.js"></script>
    <script src="/dist/js/InventarioProvedoresAMP.js"></script>
    <script th:if="${icon != null}" th:inline="javascript">
		Swal.fire({
	    	  position: 'center',
	          icon: /*[[${icon}]]*/,
	          title: /*[[${title}]]*/,
	          showConfirmButton: false,
	          timer: 2500
	    });
	</script>
    <script>
        $('#iComercial').removeClass('text-altima');
        $('#navComercial').addClass('active-altima');
        $('#menuComercial').addClass('menu-open');
        $('#menuAMP').addClass('menu-open');
        $('#navAMP').addClass('active');
        $('#navAMPInv').addClass('active');
    </script>
</body>

</html>