<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Recepciones-Devoluciones | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <div class="wrapper">
        <div th:insert="navegacion-nav"></div>
        <div th:insert="navegacion-logout"></div>
        <div th:insert="navegacion-aside"></div>
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>
                                Recepciones-Devoluciones
                                <button onclick="agregarRecepcion_Devolucion()" th:if="${#authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')')} or (${#authorization.expression('hasRole(''ROLE_SERVICIOCLIENTE_CONVERSIONTALLAS_AGREGAR'')')})" class="btn btn-sm icon-btn btn-altima text-white"><span class="btn-glyphicon spancircle fas fa-plus img-circle text-altima"></span>Nuevo</button>
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Servicio al cliente</li>
                                <li class="breadcrumb-item active">Recepciones-Devoluciones</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table tablaGeneral table-striped table-bordered" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Movimiento</th>
                                                <th>Maquilero</th>
                                                <th>Fecha</th>
                                                <th>Cantidad</th>
                                                <th>Detalles</th>
                                               
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr th:if="${view !=''}" th:each="v: ${view}">
                                                <td th:text="${v[2]}"></td>
                                                <td th:text="${v[3]}"></td>
                                                <td th:text="${v[4]}"></td>
                                                <td th:text="${v[5]}"></td>
                                                <td class="tdcenter">
                                                    <botton th:if="${v[0]> 0}" th:onclick="|detalles('${v[0]}','${v[1]}')|" class="btn btn-info btn-circle btn-sm popoverxd text-white" data-container="body" data-placement="right" data-html="true" data-content="Detalles">
                                                        <i class="fas fa-info fa-sm"></i> 
                                                    </botton>

                                                    <botton th:if="${v[0]> 0}" th:onclick="|historico('${v[0]}','${v[1]}')|" class="btn btn-success btn-circle btn-sm popoverxd text-white" data-container="body" data-placement="right" data-html="true" data-content="Hist&oacute;rico">
                                                        <i class="far fa-calendar-times"></i>
                                                    </botton>
                                                    
                                                </td>


                                            </tr>
                                        </tbody>
                                    </table>
                                    <div th:insert="recepcion-devolucion-modal"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div th:insert="navegacion-footer"></div>
    </div>
    <div th:replace="navegacion-scripts"></div>
    <script src="dist/js/tablaGeneral.js"></script>
    <script src="dist/js/recepcion-devolucion.js"></script>
    <script>
		$('#iServicio').removeClass('text-primary');
		$('#menuServicio').addClass('menu-open');
		$('#navServicio').addClass('active');
		$('#navCatSerRecepcionDevolucion').addClass('active');
       
	</script>
   
</body>

</html>