<div class="modal fade" id="modalProceso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
       <div class="modal-content modal-rounded-body">
          <div class="modal-header bg-altima modal-rounded-header">
             <h5 class="modal-title" id="exampleModalLabel">Conversaci&oacute;n de tallas</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
             </button>
          </div>
        <div class="modal-body col-md">
            <form>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="noPedido">Proceso</label>
                        <select class="form-control selectpicker" data-live-search="true" data-live-search-normalize="true" title="Seleccione uno..." id="idProceso" name="idProceso" onchange="actualizarDatos(this.value)">

                            <option th:each="proceso:${procesos}" th:value="${proceso.idLookup}" th:text="${proceso.nombreLookup}"> </option>
                        </select>
                    </div>
 
                    <div class="form-group col-md-12">
                        <label for="observaciones">Observaciones</label>
                        <textarea type="text" class="form-control" id="observacion" name="observacion"></textarea>
                    </div>
             
                </div>
            </form>
        </div>
        <div class="modal-footer modal-rounded-footer">
            <button data-dismiss="modal" class="btn btn-sm icon-btn btn-danger text-white mr-auto" type="button"><span
                class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar
            </button>
            <button type="button" onclick="guardar()" class="btn btn-sm icon-btn btn-altima text-white float-right"><span
                      class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
        </div>
       </div>
    </div>
 </div>