<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Requisici&oacute;n de materiales | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Requisici&oacute;n de materiales
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Compras</li>
                                <li class="breadcrumb-item active">Requisici&oacute;n de materiales</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de requisiciones&nbsp;<button th:if="${(#authorization.expression('hasRole(''ROLE_COMPRAS_REQUISICION_MATERIALES_CAMBIAR_FECHA'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" data-target="#cambiarFechaPromesa"
                                            data-toggle="modal" class="btn btn-sm icon-btn btn-danger text-white">
                                            <span class="btn-glyphicon fas fa-calendar img-circle text-danger"></span>F.
                                            Prom. Rec.</button>&nbsp;
                                        <button th:if="${(#authorization.expression('hasRole(''ROLE_COMPRAS_REQUISICION_MATERIALES_GENERAR_ORDEN'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" class="btn btn-sm icon-btn btn-success text-white" data-target="#generarOrden"
                                            data-toggle="modal" id="btnGenerarOrden" data-backdrop="static" data-keyboard="false">
                                            <span
                                                class="btn-glyphicon fas fa-clipboard img-circle text-success"></span>Generar
                                            orden de compra</button>
                                    </h3>
                                </div>
                                <div th:insert="requisicion-de-materiales-modal"></div>
                                <div class="card-body">
                                    <div th:insert="cambiar_proveedor_modal"></div>
                                    <div class="form-group">

                                    </div>
                                    <table class="table requisicionTabla table-striped table-bordered display nowrap" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="selectAll"></th>
                                                <th class="select-filter">Pedido</th>
                                                <th class="select-filter">Cliente</th>
                                                <th class="select-filter">Fecha de entrega pedido</th>
                                                <th class="select-filter">Fecha requisicion</th>
                                                <th class="select-filter">Clave</th>
                                                <th class="select-filter">Descripcion.</th>
                                                <th class="select-filter">Proveedor</th>
                                                <th class="select-filter">Clave proveedor</th>
                                                <th class="select-filter">Color</th>
                                                <th class="select-filter">Tamaño</th>
                                                <th class="select-filter">Consumo</th>
                                                <th class="select-filter">Fecha promesa recepcion</th>
                                                <th class="select-filter">Fecha O.C.</th>
                                                <th class="select-filter">Folio O.C.</th>
                                                <th class="select-filter">Estatus compra</th>
                                                <th class="select-filter">Estatus</th>
                                                <th class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each=" material: ${Materiales}">
                                                <td><input th:if="${material.estatus}!='Agotada' and ${material.estatus}!='Pedida' and  ${material.estatusComercial}!='Rechazado'" type="checkbox" th:class="messageCheckbox" th:value="${material.idMaterialFaltante}"
                                                    />
                                                    <input type="checkbox" th:disabled="${material.estatus}=='Agotada' or ${material.estatus}=='Pedida' or ${material.estatusComercial}=='Rechazado'?true:false" th:if="(${material.estatus}=='Agotada' or ${material.estatus}=='Pedida') or ${material.estatusComercial}=='Rechazado'"
                                                    />
                                                </td>
                                                <td th:text="${material.idTextPedido}">5153</td>
                                                <td th:text="${material.Cliente}">LS664</td>
                                                <td th:text="${material.fechaEntrega}">Caja Gonzalo Vega S.C de A.P</td>
                                                <td th:text="${material.fechaRequisicion}">22/10/2020</td>
                                                <td th:text="${material.claveMaterial}">Agente 1</td>
                                                <td th:text="${material.nombreMaterial}">100</td>
                                                <td>
                                                    <p th:text="${material.nombreProveedor}" th:id="'nombreProveedor-'+${material.idMaterialFaltante}"></p>
                                                </td>
                                                <td th:text="${material.idTextProveedor}">OC0001</td>
                                                <td th:text="${material.color}">30/08/2020</td>
                                                <td th:text="${material.tamanio}">Pedida</td>
                                                <td th:text="${material.cantidad}">Autorizada</td>
                                                <td th:text="${material.fechaPromesa}">Autorizada</td>
                                                <td th:text="${material.fechaOc}">Autorizada</td>
                                                <td th:text="${material.folioOc}">Autorizada</td>
                                                <td th:text="${material.estatus}">Autorizada</td>
                                                <td th:text="${material.estatusComercial}">Autorizada</td>
                                                <td>
                                                    <button th:if="${(#authorization.expression('hasRole(''ROLE_COMPRAS_REQUISICION_MATERIALES_ACEPTAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" th:disabled="${material.estatusComercial}!='Pendiente' or ${material.estatus}!='Extemporanea'?true:false"
                                                        class="btn btn-success btn-sm btn-circle popoverxd" th:attr="onclick=|aceptarComercial('${material.idMaterialFaltante}')|" data-placement="top" data-content="Aceptar" id="aceptarComercial"><i class="fas fa-check"></i></button>
                                                    <button th:if="${(#authorization.expression('hasRole(''ROLE_COMPRAS_REQUISICION_MATERIALES_RECHAZAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" th:disabled="${material.estatusComercial}!='Pendiente' or ${material.estatus}!='Extemporanea'?true:false"
                                                        class="btn btn-danger btn-sm btn-circle popoverxd" th:attr="onclick=|rechazarComercial('${material.idMaterialFaltante}')|" data-placement="top" data-content="Rechazar"><i
                                                            class="fas fa-times" id="rechazarComercial"></i></button>

                                                    <button th:if="${material.estatus}=='Extemporanea' and ${material.estatusComercial}=='Aceptado'" class="btn btn-primary btn-sm btn-circle popoverxd" th:attr="onclick=|cambiarProveedor('${material.idMaterial}','m','${material.idMaterialFaltante}')|" data-placement="top"
                                                        data-content="Cambiar proveedor" data-target="#cambiarProveedor" data-toggle="modal" id="cambiarProveedor"><i class="fas fa-store"></i></button>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:insert="navegacion-footer"></div>
    </div>
    <div th:replace="navegacion-scripts"></div>
    <script src="/dist/js/tablaRequisicionMaterial.js"></script>
    <script th:inline="javascript">
        var MaterialFaltanteList = /*[[${Materiales}]]*/
            console.log(MaterialFaltanteList)
        $.ajax({
            type: "GET",
            url: "/getComercialLookupByTipo",
            data: {
                tipoLookup: 'iva'
            },
            success: function(response) {
                response.forEach(data => {
                    $(`#selectIva`).append(`<option value='${data.atributo1}'>${data.atributo1}%</option>`)
                });
                $(`#selectIva`).selectpicker('refresh');
            }
        });
    </script>
    <script src="/dist/js/RequisicionMateriales.js"></script>
    <script>
        $('#iCompras').removeClass('text-altima');
        $('#menuCompras').addClass('menu-open');
        $('#navCompras').addClass('active-altima');
        $('#navComReq').addClass('active');
    </script>

</body>

</html>