<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Requisici&oacute;n de almac&eacute;n | Altima</title>
</head>
 <style type="text/css">
.hidden { display:none; }
</style>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Requisici&oacute;n de almac&eacute;n&nbsp;<a th:href="${'/requisicion-de-almacen'}"
                                    class="btn btn-sm icon-btn btn-danger text-white">
                                    <span
                                        class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Regresar</a>
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Requisiciones</li>
                                <li class="breadcrumb-item active">Requisici&oacute;n de almac&eacute;n</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Nueva requisici&oacute;n</h3>
                                </div>
                                <div class="card-body">
                                    <form action="">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <ul class="list-group list-group-horizontal-md" style="margin-bottom: 20px;">
                                                    <li class="list-group-item" style="width: 25%;"><strong>Requisici&oacute;n: </strong><a th:text="${folio}">REQ1000452222</a></li>
                                                    <li class="list-group-item" style="width: 25%;"><strong>Fecha: </strong><a th:text="${fecha}" >20/08/2020</a></li>
                                                    <li class="list-group-item" style="width: 25%;"><strong>Solicitante: </strong><a th:text="${solicitante}" >Bertha</a></li>
                                                    <li class="list-group-item" style="width: 25%;"><strong>Departamento: </strong><a th:text="${departamento}" >Dise&ntilde;o</a></li>
                                                </ul>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="cantidadRequisicion">Cantidad</label>
                                                <input type="number" class="form-control" id="cantidadRequisicion" name="cantidadRequisicion" placeholder="12">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="descripcionRequisicion">Descripci&oacute;n</label>
                                                <div class="input-group mb-3">
                                                    <select id="materialRequisicion" name="materialRequisicion" class="form-control selectpicker"
															data-live-search="true" data-live-search-normalize="true" title="Selecciona uno...">
                                                        <option th:each="materiales: ${materiales}"
                                                         th:value="${materiales[0]}" 
                                                         th:idText="${materiales[1]}" 
                                                         th:nombre="${materiales[2]}" 
                                                         th:unidad="${materiales[3]}" 
                                                         th:tamanio="${materiales[4]}" 
                                                         th:color="${materiales[5]}" 
                                                         th:tipo="${materiales[6]}" 
                                                        th:text="${materiales[1]} + ' '+ ${materiales[2]}"></option>
                                                    </select>
                                                    <div class="input-group-append" style="margin-left: 10px;">
                                                        <button type="button" onclick="agregar();"
                                                        class="btn btn-sm icon-btn btn-altima text-white">
                                                        <span class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Agregar</button>
                                                    </div>
                                                  </div>
                                            </div>
                                            <div  class="form-group col-md-12">
                                                <table id="tablaGeneral" class="table tablaGeneral table-striped table-bordered" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                        	
                                                        	<th>idMaterial</th>
                                                        	<th >tipo</th>
                                                            <th>Cantidad</th>
                                                            <th>Clave articulo</th>
                                                            <th>Descripci&oacute;n</th>
                                                            <th>Unidad de medida</th>
                                                            <th>Tama&ntilde;o</th>
                                                            <th>Color</th>
                                                            <th>Eliminar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <a th:href="${'/requisicion-de-almacen'}" class="btn icon-btn btn-danger text-white mr-auto"><span class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
                                                <button class="btn icon-btn btn-altima text-white float-right" type="submit"><span class="btn-glyphicon fas fa-paper-plane img-circle text-altima"></span>Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:insert="navegacion-footer"></div>
    </div>
    <div th:replace="navegacion-scripts"></div>
    <script src="/dist/js/tablaRequisicionMaterial.js"></script>
    <script src="/dist/js/RequisicionMateriales.js"></script>
    <script>
        $('#iRequisiciones').removeClass('text-altima');
        $('#navRequisiciones').addClass('active-altima');
        $('#menuRequisiciones').addClass('menu-open');
        $('#navReqAlm').addClass('active');
        
    </script>
    <script>
        $('#iRequisiciones').removeClass('text-altima');
        $('#navRequisiciones').addClass('active-altima');
        $('#menuRequisiciones').addClass('menu-open');
        $('#navReqAlm').addClass('active');
        
    </script>
  
   
</body>

</html>