<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Solicitud de almac&eacute;n | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Solicitud de almac&eacute;n&nbsp;<a th:href="${'/solicitud-de-almacen-nueva'}"
                                    class="btn btn-sm icon-btn btn-altima text-white">
                                    <span class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Nueva
                                    solicitud</a>
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Solicitudes</li>
                                <li class="breadcrumb-item active">Solicitud de almac&eacute;n</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de solicitudes</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table tablaGeneral table-striped table-bordered" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Folio</th>
                                                <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_REQUISICION_SOLICITUD_DISEÑO_GERENTE','ROLE_REQUISICION_SOLICITUD_COMERCIAL_GERENTE')">Solicitante</th>
                                                <th>Fecha de solicitud</th>
                                                <th>Departamento</th>
                                                <th>Tipo</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                              <tr th:each="view, i: ${view}">
												<td th:text="${view[1]}"></td>											
												<td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_REQUISICION_SOLICITUD_DISEÑO_GERENTE', 'ROLE_REQUISICION_SOLICITUD_COMERCIAL_GERENTE')" th:text="${view[2]}">Agente 1</td>
												<td th:text="${view[3]}"></td>
                                                <td th:text="${view[4]}"></td>
                                                <td th:text="${view[8]}"></td>
												<td th:text="${view[5]}"></td>
												<td class="text-center">
                                                    <button
												        class="btn btn-info btn-circle btn-sm text-white popoverxd"
												        th:onclick="|detalles('${view[0]}')|"
												        data-container="body" data-toggle="popover" data-placement="top" 
												        data-content="Detalles"><i class="fas fa-info"></i>
												    </button>
												    <button
												 	    th:disabled="${view[5]}=='No enviado'?false:true"
												 	    th:onclick="|editar(' ${view[0]} ')|"                       
                                                        class="btn btn-warning btn-sm btn-circle popoverxd" 
                                                        data-placement="top" data-content="Editar"><i class="fas fa-exchange-alt"></i>
                                                    </button>
                                                    <button
												 	    th:disabled="${view[5]}=='No enviado'?false:true"
												 	    th:onclick="|enviarEstatus('${view[0]}')|"                    
                                                        class="btn btn-altima btn-sm btn-circle popoverxd" 
                                                        data-placement="top" data-content="Enviar"><i class="fas fa-plane"></i>
                                                    </button>
												    <button
												 		sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_REQUISICION_SOLICITUD_DISEÑO_GERENTE' ,'ROLE_REQUISICION_SOLICITUD_COMERCIAL_GERENTE')"
												 		th:onclick="|rechazar('${view[0]}')|"
                                                        th:disabled="${view[5]}=='Enviado'?false:true"
                                                        class="btn btn-danger btn-sm btn-circle popoverxd"
                                                        data-placement="top" data-content="Rechazar"><i
                                                        class="fas fa-times"></i>
                                                    </button>
                                                    <button
                                                        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_REQUISICION_SOLICITUD_DISEÑO_GERENTE', 'ROLE_REQUISICION_SOLICITUD_COMERCIAL_GERENTE')"
                                                    	th:onclick="|aceptar('${view[0]}')|"
                                                        th:disabled="${view[5]}=='Enviado'?false:true"
                                                        class="btn btn-success btn-sm btn-circle popoverxd"
                                                        data-placement="top" data-content="Aceptar"><i
                                                        class="fas fa-check"></i>
                                                    </button>   
                                                    <button
                                                        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_REQUISICION_SOLICITUD_DISEÑO_GERENTE','ROLE_REQUISICION_SOLICITUD_COMERCIAL_GERENTE')"
                                                    	th:onclick="|compreas('${view[0]}')|"
                                                        th:disabled="${view[5]}=='Aceptado' and ${view[7]}=='0' ?false:true"
                                                        class="btn btn-warning btn-sm btn-circle popoverxd"
                                                        data-placement="top" data-content="Compras"><i
                                                        class="fas fa-shopping-cart"></i>
                                                    </button>
                                                </td>
												
											</tr>
                                        </tbody>
                                    </table>
                                    <input type="hidden" name="_csrf" id="token"
                                    th:value="${_csrf.token}" />
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:insert="navegacion-footer"></div>
    </div>
    <div th:replace="navegacion-scripts"></div>
    <div class="modal fade" id="detalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content modal-rounded-body">
			<div class="modal-header bg-altima modal-rounded-header">
				<h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
			</div>
			<div class="modal-content" id="contenedorTablaContador">
               
                     <div class="modal-body" id="quitarDetalles">
                        <table class="table table-bordered" id="idtableDetalle"
                           style="width: 100%;"></table>
                     </div>
                 
            </div>
		</div>
	</div>
</div>
    <script src="/dist/js/tablaGeneral.js"></script>
    <script src="/dist/js/RequisicionMateriales.js"></script>
    <script>
        $('#iRequisiciones').removeClass('text-altima');
        $('#navRequisiciones').addClass('active-altima');
        $('#menuRequisiciones').addClass('menu-open');
        $('#navReqAlm').addClass('active');
    </script>
    <script>
        function rechazarRequisicionAlmacen() {
            Swal.fire({
                title: '¿Deseas cancelar la requisici&oacute;n?',
                icon: 'warning',
                showCancelButton: true,
                cancelButtonColor: '#dc3545',
                confirmButtonColor: '#0288d1',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Requisici&oacute;n cancelada correctamente',
                        showConfirmButton: false,
                        timer: 2500
                    })
                }
            })
        }
        function aceptarRequisicionAlmacen() {
            Swal.fire({
                title: '¿Deseas autorizar la requisici&oacute;n?',
                icon: 'warning',
                showCancelButton: true,
                cancelButtonColor: '#dc3545',
                confirmButtonColor: '#0288d1',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Requisici&oacute;n autorizada correctamente',
                        showConfirmButton: false,
                        timer: 2500
                    })
                }
            })
        }
    </script>
</body>

</html>