<!-- Modal -->
<div class="modal fade" id="cambiarFechaPromesa" tabindex="-1" role="dialog" aria-labelledby="materiaPrimaAlmacen"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-rounded-body">
            <div class="modal-header bg-altima modal-rounded-header">
                <h5 class="modal-title">Cambiar fecha de promesa de recepci&oacute;n</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
            <div class="modal-body">
                <div class="form-group col-md-12">
                    <label for="fechaNueva">Nueva fecha de promesa de recepci&oacute;n</label>
                    <input type="date" class="form-control" id="fechaNueva">
                  </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto" type="submit"><span class="btn-glyphicon fas fa-times fa-lg img-circle text-danger"></span>Cancelar</button>
                <button class="btn icon-btn btn-altima text-white" type="submit"><span class="btn-glyphicon fas fa-check img-circle text-altima"></span>Confirmar</button>
            </div>
            </form>
        </div>
    </div>
</div>