<form  name="formCorridas" class="row">
    <div class="form-group col-md-6">
      <label for="generoCorridas">G&eacute;nero</label>
      <div class="spinner-border spinner-border-sm text-primary" role="status" id="CargandoGenerosCorridas" style="display: none;">
  		<span class="sr-only">Loading...</span>
	  </div>
      <select class="form-control selectpicker" title="Selecciona uno..." data-live-search="true" data-live-search-normalize="true" id="generoCorridas">
        <option th:each="opc : ${selectCorridas}" th:if="${opc != 'Indistinto'}" th:value="${opc}" th:text="${opc}"></option>
       </select>
    </div>
    <div class="form-group col-md-6">
        <label for="tipoCorridas">Tipo</label>
        <div class="input-group mb-3">
            <select class="form-control selectpicker" title="Selecciona uno..." data-live-search="true" data-live-search-normalize="true" id="tipoCorridas" style="border-radius: .25rem;">
                <option value="Media corrida">Media corrida</option>
                <option value="Completa">Completa</option>
               </select>
            <div class="input-group-append" style="margin-left:10px;">
                <button type="button" class="btn icon-btn btn-altima text-white" onclick="GuardarCorridas()"><span
                    class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Agregar</button>
            </div>
          </div>
    </div>
    <div class="form-group col-md-12" th:if="${accion == 'crear'}">
        <table class="table tablaGeneral table-striped table-bordered" style="width:100%;" id="TablaCorrida">
            <thead>
                <tr>
                    <th>G&eacute;nero</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoCorridasTabla">
                <!-- Cuerpo de la Tabla --> 
            </tbody>
        </table>
    </div>
    <div class="form-group col-md-12" th:if="${accion == 'editar'}">
        <table class="table tablaGeneral table-striped table-bordered" style="width:100%;" id="TablaCorrida">
            <thead>
                <tr>
                    <th>G&eacute;nero</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoCorridasTabla">
                <tr th:each="corrida : ${corridas}">
                    <td th:text="${corrida.genero}"></td>
                    <td th:text="${corrida.tipo}"></td>
                    <td >
                        <button type="button" class="btn icon-btn btn-danger text-white" th:onclick="'BorrarFilaCorrida(this, \'' + ${corrida.idSolicitudServicioAlClienteCorrida} + '\');'"><span
                            class="btn-glyphicon fas fa-times fa-lg img-circle text-danger"></span>Eliminar</button>
                    </td>
                </tr>    
            </tbody>
        </table>
    </div>
  </form>