<form name="formAuxiliar" id="formAuxiliar" class="row">
    <div class="form-group col-md-6">
      <label for="generoAuxiliarVentas">G&eacute;nero</label>
      <div class="spinner-border spinner-border-sm text-primary" role="status" id="CargandoGenerosAuxiliarVentas" style="display: none;">
  		<span class="sr-only">Loading...</span>
	  </div>
      <select class="form-control selectpicker" title="Selecciona uno..." data-live-search="true" data-live-search-normalize="true" id="generoAuxiliarVentas">
       	<option th:each="opc : ${selectAuxiliares}"  th:if="${opc != 'Indistinto'}" th:value="${opc}" th:text="${opc}"></option>
       </select>
    </div>
    <div class="form-group col-md-6">
        <label for="cantidadSastre">Cantidad</label>
        <div class="input-group mb-3">
            <input type="number" class="form-control" id="cantidadAuxiliarVentas" style="border-radius:.25rem" placeholder="20">
            <div class="input-group-append" style="margin-left:10px;">
                <button type="button" class="btn icon-btn btn-altima text-white" onclick="GuardarAuxiliarVentas()"><span
                    class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Agregar</button>
            </div>
          </div>
    </div>
    <div class="form-group col-md-12" th:if="${accion == 'crear'}">
        <table class="table tablaGeneral table-striped table-bordered" style="width:100%;" id="TablaAuxiliarVentas">
            <thead>
                <tr>
                    <th>G&eacute;nero</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoAuxiliarVentasTabla">
            <!-- Cuerpo de la tabla -->   
            </tbody>
        </table>
    </div>
    <div class="form-group col-md-12" th:if="${accion == 'editar'}">
        <table class="table tablaGeneral table-striped table-bordered" style="width:100%;" id="TablaAuxiliarVentas">
            <thead>
                <tr>
                    <th>G&eacute;nero</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoAuxiliarVentasTabla">
                <tr th:each="auxiliar: ${auxiliares}">
                    <td th:text="${auxiliar.genero}"></td>
                    <td th:text="${auxiliar.cantidad}"></td>
                    <td >
                        <button type="button" class="btn icon-btn btn-danger text-white" th:onclick="'BorrarFilaAuxiliarVentas(this, \'' + ${auxiliar.idSolicitudServicioAlClienteAuxiliarVentas} + '\');'"><span
                            class="btn-glyphicon fas fa-times fa-lg img-circle text-danger"></span>Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </form>