<div class="small-box bg-success">
	<div class="inner">
		<h3>Complejidad</h3>
		<button data-toggle="modal" data-target="#detalleComplejidad" class="btn btn-link text-white" style="padding-left: 1px;"><i class="fas fa-info-circle"></i> Detalle</button>
	</div>
	<div class="icon"> <i class="ion ion-ios-pricetags-outline"></i> </div>
	<a class="small-box-footer">
		<button onclick="addComplejidad()" th:if="${(#authorization.expression('hasRole(''ROLE_SERVICIOCLIENTE_CATALOGOS_AGREGAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" class="btn btn-link text-white">Agregar <i class="fas fa-plus-circle"></i></button>
	</a>
</div>
<!-- Modal Marcas Tabla -->
<div class="modal fade" id="detalleComplejidad" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document" id="modalMarcasMobile">
		<div class="modal-content" id="contenedorTabla">
			<div class="modal-header bg-success">
				<h5 class="modal-title" id="exampleModalLongTitle">Listado de complejidades <button onclick="addComplejidad()" th:if="${(#authorization.expression('hasRole(''ROLE_SERVICIOCLIENTE_CATALOGOS_AGREGAR'')') or #authorization.expression('hasRole(''ROLE_ADMINISTRADOR'')'))}" class="btn btn-light btn-circle btn-sm text-success popoverxd" data-container="body" data-toggle="popover" data-placement="right" data-content="Agregar"><i class="fas fa-plus fa-sm"></i></button>
                </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
			</div>
			<div class="modal-body">
				<table class="table tablaServicio table-striped table-bordered" id="tabladetalleComplejidad" style="width:100%">
					<thead>
						<tr>
							<th>Folio</th>
							<th>Complejidad</th>
							<th>Abreviaci&oacute;n</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Folio</td>
							<td>32</td>
							<td>Dama</td>
							<td class="text-center">
								<button class="btn btn-info btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content="<strong>Creado por: </strong>Manuel Perez <br /><strong>Fecha de creación: </strong>20/12/2019<br><strong>Modificado por: </strong>Jose luis<br><strong>Fecha de modicación: </strong>21/02/2020"><i class="fas fa-info"></i></button>
								<button class="btn btn-warning btn-circle btn-sm popoverxd" data-container="body" data-toggle="modal" data-target="#nuevaTalla" data-placement="top" data-content="Editar"><i class="fas fa-pen"></i></button>
								<button class="btn btn-danger btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" data-placement="top" data-content="Dar de baja"><i class="fas fa-caret-down"></i></button>
								<button class="btn btn-success btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" data-placement="top" data-content="Reactivar"><i class="fas fa-caret-up"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal agregar -->
<div class="modal fade" id="modalComplejidad" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 40%;" role="document"
        id="modalMarcasMobile">
        <div class="modal-content" id="contenedorTabla">
            <div class="modal-header bg-success">
                <h5 class="modal-title" id="tituloComplejidad">Nueva complejidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="formTiposIngreso" id="formTiposIngreso" class="row" autocomplete="off">
					<div class="form-group col-sm-6">
						<label for="complejidad">Complejidad</label>
						<input type="text" class="form-control" id="complejidad" name="complejidad" placeholder="Complejidad">
						<input type="hidden"  id="idLookupComplejidad" name="idLookupComplejidad">
					</div>

                    <div class="form-group col-sm-6">
						<label for="abreviacionComplejidad">Abreviaci&oacute;n</label>
						<input  type="text" id="abreviacionComplejidad" name="abreviacionComplejidad" class="form-control" placeholder="Abrev.">
					
					</div>

                    <div class="form-group col-sm-12" role="alert" style="display: none" id="alertComplejidad">
                        <h5 class="alert-heading center"><i class="fas fa-exclamation" style="color:brown"></i> Complete todos los campos</h5>
                    </div>


                    <div class="card-footer center">
                        <button onclick="guardarComplejidad()" type="button" class="btn btn-primary btn-lg">Agregar</button>
                        <button type="button" data-dismiss="modal" class="btn btn-secondary btn-lg">Cancelar</button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>