<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle">Servicio al cliente | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<div th:insert="navegacion-nav"></div>
		<!-- /.navbar -->
		<!-- Modal -->
		<div th:insert="navegacion-logout"></div>
		<!-- Main Sidebar Container -->
		<div th:insert="navegacion-aside"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Servicio al cliente&nbsp;
                                <a th:href="@{'/servicio-cliente-solicitud'}" class="btn btn-sm icon-btn btn-altima text-white"><span
                                        class="btn-glyphicon spancircle fas fa-plus img-circle text-altima"></span>Nueva solicitud</a>
                            </h1>
                        </div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item altima">Altima</li>
								<li class="breadcrumb-item active">Servicio al cliente</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de solicitudes</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table tablaGeneral table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Folio</th>
                                                <th>Fecha de solicitud</th>
                                                <th>Agente de ventas</th>
                                                <th>Pedido</th>
                                                <th>Cliente</th>
                                                <th>Fecha y hora cita</th>
                                                <th>Actividad</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="solicitud : ${solicitudes}">
                                                <td th:text="${solicitud[1]}"></td>
                                                <td th:text="${solicitud[2]}"></td>
                                                <td th:text="${solicitud[3]}"></td>
                                                <td th:text="${solicitud[4]}"></td>
                                                <td th:text="${solicitud[5]}"></td>
                                                <td th:text="${solicitud[6]}"></td>
                                                <td th:text="${solicitud[7]}"></td>
                                                <td th:text="${solicitud[8] == 1} ? 'Activa' : 'Cerrada'"></td>
                                                <td class="text-center">
                                                    <a th:href="@{'/servicio-cliente-editar-solicitud/'} + ${solicitud[0]}" class="btn btn-warning btn-sm btn-circle popoverxd" data-placement="top" data-content="Editar"><i class="fas fa-pen"></i></a>
                                                    <button class="btn btn-altima btn-sm btn-circle popoverxd" data-placement="top" data-content="Enviar solicitud"><i style="margin-left: -2px;" class="fas fa-paper-plane"></i></button>
                                                    <button class="btn btn-info btn-sm btn-circle popoverxd" data-placement="top" data-content="Detalles"><i class="fas fa-info"></i></button>
                                                    <button class="btn btn-success btn-sm btn-circle popoverxd" data-placement="top" data-content="Aceptar"><i class="fas fa-check"></i></button>
                                                    <button class="btn btn-danger btn-sm btn-circle popoverxd" data-placement="top" data-content="Rechazar"><i class="fas fa-times"></i></button>
                                                </td>
                                            </tr>    
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-footer-->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:insert="navegacion-footer"></div>
	</div>
    <div th:replace="navegacion-scripts"></div>
    <script src="/dist/js/tablaGeneral.js"></script>
	<script>
        $('#iComercial').removeClass('text-altima');
        $('#menuComercial').addClass('menu-open');
        $('#navComercial').addClass('active-altima');
        $('#navSer').addClass('active');
    </script>
</body>

</html>