<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Solicitud de modelos | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>
                                Solicitud de modelos&nbsp;
                                <a data-toggle="modal" data-target="#nuevaSolicitudModelo"
                                    class="btn btn-sm icon-btn btn-altima text-white"><span
                                        class="btn-glyphicon spancircle fas fa-plus img-circle text-altima"></span>Nueva
                                    solicitud</a>
                            </h1>
                        </div>
                        <div th:insert="solicitud-de-modelos-nuevo"></div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Comercial</li>
                                <li class="breadcrumb-item active">Muestrario</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Listado de solicitudes</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table tablaGeneral table-striped table-bordered" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Fecha solicitud</th>
                                                <th>Agente de ventas</th>
                                                <th>Cliente</th>
                                                <th>Fecha y hora cita</th>
                                                <th>Hora salida Altima</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>02/08/2020 04:16 P.M.</td>
                                                <td>Juanito Perez</td>
                                                <td>DTI Consultores</td>
                                                <td>14/05/2020 09:00 A.M.</td>
                                                <td>14/05/2020 07:00 A.M.</td>
                                                <td>En espera</td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-sm btn-circle popoverxd"
                                                        data-placement="top" data-content="Detalles">
                                                        <i class="fas fa-info"></i>
                                                    </button>
                                                    <button data-toggle="modal" data-target="#asignarModelo"
                                                        class="btn btn-success btn-sm btn-circle popoverxd"
                                                        data-placement="top" data-content="Asignar modelo">
                                                        <i class="fas fa-tshirt" style="margin-left: -3px"></i>
                                                    </button>
                                                    <button onclick="enviarModelo()"
                                                        class="btn btn-warning btn-sm btn-circle popoverxd"
                                                        data-placement="top" data-content="Enviar">
                                                        <i class="fas fa-envelope"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-footer-->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:insert="navegacion-footer"></div>
    </div>
    <div th:replace="navegacion-scripts"></div>
    <script src="/dist/js/tablaGeneral.js"></script>
    <script>
        $("#iComercial").removeClass("text-altima");
        $("#menuComercial").addClass("menu-open");
        $("#navComercial").addClass("active-altima");
        $("#menuMuestrario").addClass("menu-open");
        $("#navMuestrario").addClass("active");
        $("#navMueSol").addClass("active");
    </script>
    <script>
        function enviarModelo() {
            Swal.fire({
                title: '¿Seguro que quieres enviar la solicitud?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Solicitud enviada correctamente',
                        showConfirmButton: false,
                        timer: 2500
                    })
                }
            });
        }
    </script>
</body>

</html>