<!-- Modal -->
<div class="modal fade" id="nuevoTicket" tabindex="-1" role="dialog" aria-labelledby="nuevoTicketTitulo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Nuevo ticket</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-4">
                <label for="prioridad">Prioridad</label>
                <select class="form-control selectpicker" data-live-search="true" data-live-search-normalize="true" title="Selecciona uno..." id="prioridad">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="form-group col-md-4">
                <label for="categoria">Categor&iacute;a</label>
                <select class="form-control selectpicker" data-live-search="true" data-live-search-normalize="true" title="Selecciona uno..." id="categoria">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="form-group col-md-4">
                <label for="descripcion">Descripci&oacute;n</label>
               <input class="form-control" type="text" id="descripcion" placeholder="Especificar">
            </div>
          </div>
        </div>
        <div class="modal-footer modal-rounded-footer">
            <a data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto"><span class="btn-glyphicon spancircle fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
            <button class="btn icon-btn btn-altima text-white float-right" type="submit"><span class="btn-glyphicon spancircle fas fa-save img-circle text-altima"></span>Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>