<!-- Modal -->
<div class="modal fade" id="infoTicket" tabindex="-1" role="dialog" aria-labelledby="nuevoTicketTitulo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 30%;" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Informaci&oacute;n del ticket</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul>
                <li class="font-weight-bold">Solicitante/Auxiliar: <a class="font-weight-normal">Juan Jose Muñoz</a></li>
                <li class="font-weight-bold">Categor&iacute;a: <a class="font-weight-normal">Pruebas</a></li>
                <li class="font-weight-bold">Descripci&oacute;n: <a class="font-weight-normal">En fase beta</a></li>
                <li class="font-weight-bold">Fecha de inicio: <a class="font-weight-normal">2020-08-10</a></li>
                <li class="font-weight-bold">Fecha de finalizaci&oacute;n: <a class="font-weight-normal">2020-08-15</a></li>
            </ul>
        </div>
    </div>
  </div>