<div class="modal fade" id="modalTiempoProceso" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-rounded-body">
      <div class="modal-header bg-altima modal-rounded-header">
        <h5 class="modal-title">Asignar tiempo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <label for="tiempoTalla">Tiempo por talla(minutos)</label>
            <input type="number" class="form-control" id="tiempoTalla" placeholder="20" min="1" pattern="^[0-9]+">
          </div>
          <div class="form-group">
            <label for="tiempoPrendaLisa">Tiempo por prenda(minutos)</label>
            <input type="number" class="form-control" id="tiempoPrendaLisa" placeholder="20" min="1" pattern="^[0-9]+">
          </div>
          <div class="form-group">
            <label for="tiempoPrendaEstampada">Tiempo por prenda cuadros(minutos)</label>
            <input type="number" class="form-control" id="tiempoPrendaEstampada" placeholder="20" min="1"
              pattern="^[0-9]+">
          </div>
          <input type="hidden" id="idTiempoFamiliaPrenda">
          <input type="hidden" id="idLookup">
        </form>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" class="btn icon-btn btn-danger text-white mr-auto" type="button"><span
            class="btn-glyphicon fas fa-arrow-left img-circle text-danger"></span>Cancelar</a>
        <button id="btnGuardarTiempos" class="btn icon-btn btn-altima text-white" onclick="guardarTiempos()" type="submit"><span
            class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
      </div>
    </div>
  </div>
</div>