<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
    <title id="pageTitle">Tiempos Procesos | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div th:insert="tiempos-de-procesos-modales"></div>
                        <div class="col-sm-6">
                            <h1>
                                Tiempo de procesos
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item altima">Altima</li>
                                <li class="breadcrumb-item active">Producci&oacute;n</li>
                                <li class="breadcrumb-item active">Tiempo de procesos</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-altima">
                                    <h3 class="card-title">Tiempos <button id="botonCalcularHoras"
                                            onclick="modalPrendasLargoTalle()"
                                            class="btn btn-sm icon-btn btn-info text-white mr-auto" type="button"><span
                                                class="btn-glyphicon fas fa-calculator img-circle text-info"></span>Prendas
                                            largo talle
                                        </button>
                                    </h3>
                                </div>
                                <div class="card-body" id="contenedor-tableEmpalme">
                                    <table class="tablaGeneral table-striped table-bordered" style="width: 100%;"
                                        id="tableEmpalme">
                                        <thead>
                                            <tr>
                                                <th>Familia Prenda</th>
                                                <th>Tiempo por talla</th>
                                                <th>Tendido liso</th>
                                                <th>Tendido cuadros</th>
                                                <th>Tendido fantasia</th>
                                                <th>Tendido rayas verticales</th>
                                                <th>Tendido rayas horizontales</th>
                                                <th>Tiempo refilado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each=" tiempo: ${tiempos}">
                                                <td th:text="${tiempo.familiaPrenda}"></td>
                                                <td th:id="'tiempoTalla-'+${tiempo.idLookup}"
                                                    th:text="${tiempo.tiempoTalla}"></td>
                                                <td th:id="'tiempoPrendaLisa-'+${tiempo.idLookup}"
                                                    th:text="${tiempo.tiempoPrendaLisa}"></td>
                                                <td th:id="'tiempoPrendaCuadros-'+${tiempo.idLookup}"
                                                    th:text="${tiempo.tiempoPrendaCuadros}"></td>
                                                <td th:id="'tiempoPrendaFantasia-'+${tiempo.idLookup}"
                                                    th:text="${tiempo.tiempoPrendaFantasia}"></td>
                                                <td th:id="'tiempoPrendaRayasVerticales-'+${tiempo.idLookup}"
                                                    th:text="${tiempo.tiempoPrendaRayasVerticales}"></td>
                                                <td th:id="'tiempoPrendaRayasHorizontales-'+${tiempo.idLookup}"
                                                    th:text="${tiempo.tiempoPrendaRayasHorizontales}"></td>
                                                <td th:id="'tiempoRefilado-'+${tiempo.idLookup}"
                                                    th:text="${tiempo.tiempoRefilado}"></td>
                                                <td> <button
                                                        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_PRODUCCION_TIEMPO_PROCESO_EDITAR')"
                                                        th:onclick="|modalEditarTiempos(${tiempo.idLookup},${tiempo.idTiempoFamiliaPrenda})|"
                                                        data-container="body" data-toggle="popover" 
                                                        data-content="Editar Tiempos"
                                                        class="btn-success btn btn-info btn-circle btn-sm popoverxd"><i
                                                            class="fas fa-edit"></i></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:insert="navegacion-footer"></div>
    </div>
    <!-- ./wrapper -->
    <div th:replace="navegacion-scripts"></div>
    <script src="dist/js/tablaGeneral.js"></script>
    <script src="dist/js/tiemposProcesos.js"></script>
    <script>
        $('#iProduccion').removeClass('text-altima');
        $('#menuProduccion').addClass('menu-open');
        $('#navProduccion').addClass('active-altima');
        $('#navProTieProcesos').addClass('active');
    </script>

</body>

</html>