<div class="modal fade" id="tiempoDetalle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content modal-rounded-body">
        <div class="modal-header bg-altima modal-rounded-header">
          <h5 class="modal-title">Detalle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table id ="tablaDetalles" class=" tablaGeneral table-striped table-bordered" style="width: 100%;">
            <thead>
              <tr>
                <th>Pedido</th>
                <th>Fecha de entrega</th>
                <th>Coordinado</th>
                <th># Prendas</th>
                <th>Clave tela</th>
                <th>Tiempo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>PED10023</td>
                <td>12/12/2020</td>
                <td>1</td>
                <td>68</td>
                <td>LS213</td>
                <td>LS213</td>
                <td> <button data-toggle="modal" data-target="#asignacionTiempo" class="btn btn-altima btn-sm btn-circle popoverxd" data-placement="top" data-content="Asignaci&oacute;n de tiempo"><i class="fas fa-clock"></i></button></td>
              </tr>
              <tr>
                  <td>PED10023</td>
                  <td>12/12/2020</td>
                  <td>3</td>
                  <td>50</td>
                  <td>DI1593</td>
                  <td>LS213</td>
                  <td> <button data-toggle="modal" data-target="#asignacionTiempo" class="btn btn-altima btn-sm btn-circle popoverxd" data-placement="top" data-content="Asignaci&oacute;n de tiempo"><i class="fas fa-clock"></i></button></td>
              </tr>
              <tr>
                <td>PED10023</td>
                <td>12/12/2020</td>
                <td>5</td>
                <td>45</td>
                <td>AI789</td>
                <td>LS213</td>
                <td> <button data-toggle="modal" data-target="#asignacionTiempo" class="btn btn-altima btn-sm btn-circle popoverxd" data-placement="top" data-content="Asignaci&oacute;n de tiempo"><i class="fas fa-clock"></i></button></td>
            </tr>
            <tr>
                <td>PED10589</td>
                <td>18/12/2020</td>
                <td>2</td>
                <td>98</td>
                <td>LS123</td>
                <td>LS213</td>
                <td> <button data-toggle="modal" data-target="#asignacionTiempo" class="btn btn-altima btn-sm btn-circle popoverxd" data-placement="top" data-content="Asignaci&oacute;n de tiempo"><i class="fas fa-clock"></i></button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>