<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navegacion-head :: header">
	<title id="pageTitle">Multialmac&eacute;n | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
	<!-- Site wrapper -->
	<div class="wrapper" id="app">
		<!-- Navbar -->
		<div th:insert="navegacion-nav"></div>
		<!-- /.navbar -->
		<!-- Modal -->
		<div th:insert="navegacion-logout"></div>
		<!-- Main Sidebar Container -->
		<div th:insert="navegacion-aside"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Traspasos <a th:href="@{/movimientos-amp}"><button
										class="btn btn-danger btn-circle btn-sm popoverxd" data-container="body"
										data-placement="right" data-content="Regresar"><i
											class="fas fa-arrow-left"></i></button></a></h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item altima">Altima</li>
								<li class="breadcrumb-item active">Comercial</li>
								<li class="breadcrumb-item active">AMP</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- Default box -->
							<div class="card">
								<div class="card-header bg-altima">
									<h3 class="card-title">Listado a traspasar</h3>
								</div>
								<div class="card-body">
									<div class="row">

										<div class="form-group col-md-6">
											<label for="almacenOrigenTraspaso">Almac&eacute;n origen</label>
											<select class="form-control selectpicker" title="Selecciona uno..."
												data-live-search="true" data-live-search-normalize="true"
												id="almacenOrigenTraspaso">
											</select>
										</div>
										<div class="form-group col-md-6">
											<label for="salidaTraspaso">Movimiento salida</label>
											<select class="form-control selectpicker" title="Selecciona uno..."
												data-live-search="true" data-live-search-normalize="true"
												id="movimientoSalida">
											</select>
										</div>
										<div class="form-group col-md-6">
											<label for="almacenDestinoTraspaso">Almac&eacute;n destino</label>
											<select class="form-control selectpicker" title="Selecciona uno..."
												data-live-search="true" data-live-search-normalize="true"
												id="almacenDestinoTraspaso">
											</select>
										</div>
										<div class="form-group col-md-6">
											<label for="entradaTraspaso" style="margin-left:2px">Movimiento
												entrada</label>
											<div class="input-group mb-3">
												<select class="form-control selectpicker" title="Selecciona uno..."
													data-live-search="true" data-live-search-normalize="true"
													id="movimientoEntrada">
												</select>
											</div>
										</div>
										<div class="form-group col-md-5">
											<label for="cantidadMovimiento">Fecha</label>
											<input type="date" class="form-control" id="fechaMovimiento">
										</div>
										<div class="form-group col-md-7">
											<label for="cantidadMovimiento">Observaciones</label>
											<input type="text" class="form-control" id="observacionesMovimientos"
												placeholder="">
										</div>
										<div class="form-group col-md-4">
											<label for="cantidadMovimiento">Cantidad</label>
											<input type="number" class="form-control" id="cantidadTraspaso" min="1"
												placeholder="4">
										</div>
										<div class="form-group col-md-8">
											<label for="articuloMovimiento" style="margin-left:2px">Articulo</label>
											<div class="input-group mb-3">
												<select class="form-control selectpicker" title="Selecciona uno..."
													data-live-search="true" data-live-search-normalize="true"
													id="articuloTraspaso">
												</select>
												<div class="input-group-append" style="margin-left: 10px;">
													<button class="btn icon-btn btn-altima text-white" type="button"
														id="agregarArticulo"><span
															class="btn-glyphicon fas fa-plus img-circle text-altima"></span>Agregar</button>
												</div>
											</div>
										</div>
										<div class="form-group col-md-12">
											<table class="table tablaTraspasos table-striped table-bordered"
												style="width:100%">
												<thead>
													<tr>
														<th>Cantidad</th>
														<th>Clave art&iacute;culo</th>
														<th>Descripci&oacute;n</th>
														<th>UOM</th>
														<th>Acciones</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
										<div class="form-group col-md-12">
											<button type="button" id="guardarTraspasos"
												class="btn icon-btn btn-altima text-white float-right"><span
													class="btn-glyphicon fas fa-save img-circle text-altima"></span>Guardar</button>
											<hr style="border:1px solid #e9ecef">
										</div>
									</div>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>
				<!-- Main row -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:insert="navegacion-footer"></div>
	</div>
	<div th:replace="navegacion-scripts"></div>
	<script src="dist/js/traspasos.js"></script>
	<script src="dist/js/tablaTraspasos.js"></script>
	<script>
		$('#iComercial').removeClass('text-altima');
		$('#navComercial').addClass('active-altima');
		$('#menuComercial').addClass('menu-open');
		$('#menuAMP').addClass('menu-open');
		$('#navAMP').addClass('active');
		$('#navAMPMul').addClass('active');
	</script>
</body>

</html>